[2018-11-18 14:14] kamilkisiela opened #1 "Validate complexity of documents"

[2018-11-18 14:14] kamilkisiela opened #2 "GraphQL Playground with fake data"

[2018-11-18 21:08] #2 closed

[2018-11-19 07:33] kamilkisiela opened #4 "Dead schema detection"

[2018-11-19 12:43] #4 closed

[2018-11-19 15:06] kamilkisiela opened #6 "Allow to --require"

[2018-11-20 07:36] ChopperLee2011 opened #7 "install warning: none of graphql version is installed."
I get these `WARN` when install graphql-inspector globally, and because lib `graphql` is not installed, so exec any command will throw error: `Error: Cannot find module 'graphql'`
[code]

[2018-11-21 14:51] kamilkisiela opened #9 "Extend Renderer to emit errors, logs, infos"

[2018-11-21 14:54] kamilkisiela opened #10 "Scan files to find documents wrapped with gql tag"

[2018-11-21 14:55] kamilkisiela opened #11 "Make emitted logs prettier"

[2018-11-21 18:47] kamilkisiela commented on #6
f3e5696ede51239e6d18d30959c7d127c1bb3aea

[2018-11-21 18:47] #6 closed

[2018-11-21 20:30] #9 closed

[2018-11-21 20:30] #11 closed

[2018-11-22 08:14] kamilkisiela opened #12 "Create a UI"

[2018-12-28 10:58] kamilkisiela commented on #10
Closed by 67c55c4eb34d146b6af4777232b87dd1bb033405

[2018-12-28 10:58] #10 closed

[2019-01-02 11:17] martyganz opened #23 "Handle Scalar types"
Scalar types are currently ignored when doing validation, should we handle them or not?

[2019-01-02 11:19] martyganz opened #24 "GQL schema.json introspection files are not being loaded correctly"
Getting error for cannot get types of undefined, I'm putting up a PR in a minute for this.

[2019-01-02 16:34] #24 closed

[2019-01-02 16:44] kamilkisiela commented on #23
Hmm, I think we can skip scalars and only track how are they used in other GraphQL entities. For example, if `JSON` scalar has been removed but hasn't been used in the schema, we don't need to warn about it.

The only breaking change I can see here is the Scalar's object definition, but that's something on the "resolver" side of GraphQL server, we can't access that through Introspection or similar

[2019-01-03 10:08] kamilkisiela opened #27 "Warn about deprecated fields used in documents"

[2019-01-03 16:09] #27 closed

[2019-01-04 15:42] FredyC opened #35 "Duplicate "graphql" modules cannot be used at the same time"
Well, this is fairly problematic, because some tools we are using are kinda unmaintained and depending on older versions. Mostly it's about the `@playlife/gql` which makes autocomplete in graphql documents possible but is heavily outdated in this regards :( The output of `yarn why graphql` is rather terrifying...

[code]

I am not entirely sure how to tackle this...

[code]

[2019-01-04 15:56] FredyC commented on #35
Hm, actually nevermind, seems that main culprit was having version `0.13.2` installed in the root of the project. Once upgraded the inspector works fine. Wondering what else gets broken. There was some reason why we needed to stay at 0.13, I just don't recall why :/

[2019-01-04 15:56] #35 closed

[2019-01-04 16:28] FredyC opened #36 "Validate complains about fragments (false negative)"
I am not really sure what to think about this. For example I have a simple file `WareUnitFragment.graphql.ts` with this content.

[code]

Running the validate for that file outputs...

[code]

It lists all fragments used in the app. And this goes on for every file including fragments

[2019-01-04 21:30] martyganz commented on #36
Hi @FredyC! I was able to reproduce the 'There can only be one fragment' message, but if the fragments are actually used in a document I'm not getting the other message.

Could you provide a repro?

[2019-01-04 23:46] FredyC commented on #36
Perhaps try to create two documents with different fragments and validate with glob against both of them? Not sure what else could I repro about it.

[2019-01-05 09:07] martyganz commented on #36
Yeah I was thinking the same. I’ll try to reproduce it tonight or tomorrow. Thanks!

[2019-01-05 13:44] kamilkisiela commented on #36
@FredyC I published @martyganz changes in `v0.7.2`

[2019-01-06 17:15] FredyC commented on #36
@kamilkisiela Unfortunately, there is no change in the output. Might be useful to add a unit test for this use case. I cannot help with that at this moment, perhaps later in the week, but no promises.

[2019-01-08 19:40] martyganz commented on #36
@FredyC just had a look but couldn't find the issue yet. I think it is because the tool looks for multiple documents and if you are not using your fragments in the same document it will give the same error for every document thus resulting in a long list for you.

Bugfix for my stupid mistake is up.

cc @kamilkisiela

[2019-01-13 17:16] kamilkisiela commented on #36
#52 should fix it. The issue was I assumed that including all fragments in each document would be enough to validate a document with nested fragments. That was a wrong assumption because GraphQL throws an error where those are unused.

Right now, we create a graph of dependencies between fragments and when one is used we resolve it and also its children, so then we can validate a document. This is

[2019-01-13 17:19] kamilkisiela commented on #36
`v0.7.3` is out

[2019-01-13 17:19] kamilkisiela commented on #36
@FredyC let me know if that works for you.

[2019-01-14 10:55] kamilkisiela opened #54 "Bitbucket integration"
Do the same thing as for Github but for Bitbucket :)

[2019-01-16 14:00] kamilkisiela opened #55 "Enforce all fragment names across the projects to be unique"

[2019-01-16 19:12] #55 closed

[2019-01-16 20:03] FredyC commented on #36
Ok, so there is definitely something different now. I still have a feeling it's a fragment related, but it only shows the following. There are no details about actual errors. There is much more of those lines there, pretty much all files with queries I think. Files with fragments only are not listed here anymore, so that's a good progress :)

The last file `Zones.graphql.ts` is perhaps a bit diffe

[2019-01-19 13:21] kamilkisiela commented on #36
@FredyC I released `v0.9.0`. I don't have a reproduction of your issue but probably enough information to guess what might solve it, I tried to get rid of all fragments and use them when an operation is being validated. You can check tests and the code here https://github.com/kamilkisiela/graphql-inspector/pull/58/.

[2019-01-19 14:32] FredyC commented on #36
@kamilkisiela Awesome, now it seems to be truly working. Even correctly detected deprecated field use. Thank you!

[2019-01-19 14:32] #36 closed

[2019-01-20 12:13] kafein commented on #12
Hi @kamilkisiela, thanks for this awesome library.
I would love to help for both UI design and coding.
Can we talk about this?
emrah.bilbay@gmail.com

[2019-01-20 20:42] martyganz commented on #12
I'm also up for doing some work on the UI! ;)

[2019-01-21 16:04] kamilkisiela commented on #12
@kafein @martyganz maybe we could schedule a meeting and talk about it? I will try to prepare a todo list of things we might want to have them and features. This UI would be awesome to have. Imagine clicking through the Schema Coverage report to see exactly where in documents a field was requested and also having errors visible on hover, wild shit :))

[2019-01-21 18:08] martyganz commented on #12
Sure thing, works for me!

[2019-01-22 05:13] kafein commented on #12
Sure, waiting for meeting details :)

[2019-01-26 08:40] maorhayoun commented on #54
hey, can you specify what is required for integrating with Bitbucket?

[2019-01-26 09:00] kamilkisiela commented on #54
I guess for now it should do at least few things:

- prevent a Pull Request from being merged
- show the status as failed if there's something wrong with a schema
- fetch old schema and compare it with new one to find changes

I'm not that familiar with Bitbucket's API but I can help if someone wants to implement it.

Looking at our Github integration might help.

[2019-01-26 15:23] martyganz opened #69 "Glob files should throw warning and skip document when it cannot read document"
Currently when inspector reads documents and we cannot read/parse the document the file loader will throw an error that the extension is not supported but it actually cannot parse the document.

[2019-01-26 17:56] RoberMac opened #71 "Stuck in "In progress" with Github Bot"
![image](https://user-images.githubusercontent.com/4065233/51790930-77e93180-21d6-11e9-92cf-74727177e193.png)

Configuration in `package.json`:

[code]

[2019-01-27 05:17] RoberMac commented on #71
Fixed after change `ref` to `staging`.

[2019-01-27 05:17] #71 closed

[2019-01-29 16:18] swcarlosrj opened #72 "[Diff] Comparing equal schemas throw changes"
Comparing identical schemas detects changes

Repo:
https://github.com/spacexland/api/tree/graphql-inspector

Run:
[code]

Output:
[code]

[2019-01-29 16:20] swcarlosrj opened #73 "[Diff] Cannot compare remote schema"
Repo:
https://github.com/spacexland/api/tree/graphql-inspector

Run:
[code]
Output:
[code]

[2019-01-29 16:28] swcarlosrj opened #74 "[Introspection] It doesn't generate/overwrite the schema.graphql specified file"
Repo:
https://github.com/spacexland/api/tree/graphql-inspector

Run:
[code]
AFAIK, it should generate a new file called `newschema.graphql`, also, having same name it doesn't overwrite it

Output:
No output (prob it's not even running) as well no`newschema.graphql` file

[2019-01-29 20:42] kamilkisiela commented on #74
@swcarlosrj `v0.12.0` should fix that

[2019-01-29 20:49] swcarlosrj commented on #72
@kamilkisiela working!

[2019-01-29 20:49] #72 closed

[2019-01-29 20:51] swcarlosrj commented on #74
@kamilkisiela working!

[2019-01-29 20:51] #74 closed

[2019-01-29 21:06] kamilkisiela commented on #73
Hmm, this is one is a bit bigger to fix, we compare values and introspection result (of graphql endpoint) returns `null` and `undefined` so yeah, I'll fix that later today or tomorrow.

[2019-01-29 21:09] swcarlosrj commented on #73
Np, I'll give a look tmw too. Thanks anyways 🤗

[2019-01-30 12:37] kamilkisiela commented on #73
`0.13.0-alpha.0`

[2019-01-30 13:35] swcarlosrj commented on #73
💯, working!

[2019-01-30 13:35] #73 closed

[2019-01-30 13:36] kamilkisiela commented on #73
`0.13.0` :)

[2019-01-31 10:26] kamilkisiela opened #80 "Create an interactive editor on website"
So it rendered schema diff etc

[2019-02-01 11:50] #80 closed

[2019-02-01 18:01] martyganz commented on #69
Nope, I put the TODO in there to show that we still need to do something there. Does not fix it though.

[2019-02-14 16:30] jwaldrip opened #85 "CoreJS Error"
I am getting an error when trying to run the inspector.

[code]

[2019-02-14 17:50] aeiz commented on #85
I'm getting the same. Seems like it's related to this [issue](https://github.com/apollographql/apollo-tooling/issues/962). The @graphql-inspector/cli package.json explicitly references apollo-server 2.2.6 and apollo-server-express 2.2.6. Perhaps upgrading the versions might help.

[2019-02-14 19:55] kamilkisiela commented on #85
`0.13.1` is out, could you check if it solved the issue?

[2019-02-14 20:15] aeiz commented on #85
@kamilkisiela, upgrading to 0.13.1 worked for me. Thanks for your quick fix!

[2019-02-14 20:15] kamilkisiela commented on #85
Yay :)

[2019-02-14 20:15] #85 closed

[2019-02-22 14:57] mikejewell opened #90 "Definitions in introspected schema are being pretty printed"
Hi!

I'm comparing two schemas: one loaded from disk, one introspected from our endpoint. Even if they're both using identical schemas, I'm seeing differences due to newlines being added in type definition comments.

It turns out that the issue is with this process: https://github.com/kamilkisiela/graphql-inspector/blob/master/packages/load/src/schema/index.ts#L18 - the printSchema function is (I

[2019-02-22 15:01] mikejewell opened #91 "graphql-toolkit's loadSchema require non-null value (options)"
The following line is currently passing null into loadSchema, but graphql-toolkit's URL handler expects to be able to look in there for a 'headers' property (see https://github.com/ardatan/graphql-toolkit/blob/master/src/loaders/schema/introspection-from-url.ts#L18):

https://github.com/kamilkisiela/graphql-inspector/blob/master/packages/load/src/schema/index.ts#L32

This results in the following

[2019-02-25 10:46] kamilkisiela commented on #90
Hi @mikejewell, could you provide an example so I have something to work on?

[2019-02-25 11:33] mikejewell commented on #90
Sadly our endpoint is authenticated, but you should be able to test it with something like this:

[code]

If you read that from a local file, you should get the type description as one long line. If you read it from an endpoint, it'll come back as multiple lines due to the pretty printing (as it's longer than 120 characters, I believe). Let me know if I can provide any more info!

[2019-02-25 12:04] kamilkisiela commented on #91
#92 released as `v0.13.3`

[2019-02-25 12:04] #91 closed

[2019-02-25 17:50] kamilkisiela commented on #90
#94 might fix it but I still need to create a test case for it

[2019-03-14 21:12] #90 closed

[2019-03-14 22:27] g-gaston opened #97 "Empty type throws error"
Whenever the schema has an empty type, like
[code]
The inspector throws:

`error Must provide Source. Received: {}`

Is this the expected behavior?

[2019-03-17 00:38] steebchen opened #98 "Allow configuration through yaml file"
I use Go for my GraphQL server and would like to make use of graphql-inspector, but I don't have a package.json there.

It would be great if options could be specified with a yaml file in the .github folder (`.github/graphql-inspector.yml`), which now seems more and more the go-to approach, especially with github actions.

[2019-03-17 01:15] steebchen opened #99 "Github actions not working"
I can't get graphql-inspector to work on my repo. I have enabled the app for my repo, and added the following in my main.workflow:

[code]

package.json:
[code]

action debug output:

[code]

What can I do to fix it? Thanks in advance!

[2019-03-19 09:40] steebchen commented on #99
reproduction available at [steebchen/test-graphql](https://github.com/steebchen/test-graphql)

[2019-03-26 20:06] kamilkisiela commented on #98
#105 should enable that

[2019-03-26 20:10] kamilkisiela opened #106 "Write tests for Github Action"

[2019-03-26 20:10] kamilkisiela opened #107 "Write tests for Github Application"

[2019-03-27 13:03] BeeeQueue opened #108 "Github Action creates an extra check run"
The Action check currently does not update its own status. It instead always succeeds, then creates a new check which gets all the details.

Preferably the first, existing check would fail and have annotations added to it instead of the new check being created.

![image](https://user-images.githubusercontent.com/472500/55077403-f0198980-5097-11e9-9567-dcb429d14865.png)

[2019-03-27 20:41] kamilkisiela commented on #108
Hi :) I'm currently working on writing Github Action part of Inspector from scratch and making it just a little bit independent of `@graphql-modules/github` so they won't share the login of handling `check_run` and related.

This won't happen soon, might be a week till I get there and also fix few issues in Inspector Action.

[2019-03-27 22:49] kamilkisiela commented on #108
@BeeeQueue actually, I did it today #111 :) I will release a new version in couple of minutes

[2019-03-27 23:00] kamilkisiela commented on #108
Release in [`v1.15.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.15.0)

[2019-03-27 23:00] #108 closed

[2019-03-27 23:00] kamilkisiela commented on #98
Release in [`v1.15.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.15.0)

[2019-03-27 23:00] #98 closed

[2019-03-27 23:00] kamilkisiela commented on #99
Release in [`v1.15.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.15.0)

[2019-03-28 18:11] filipncs opened #140 "Non-breaking nullability changes mistakenly registered as breaking, when the field type isn't a built-in scalar"
Changing a non-null input field to be nullable is a non-breaking change, as all valid queries before the change will still be valid after the change.

Similarly, changing a nullable query-field to be non-null is a non-breaking change, as all valid queries and valid responses from before the change, will still be valid after the change (*).

Currently, these cases will however always be marked as b

[2019-03-28 19:21] kamilkisiela commented on #140
I added two more tests, will release a new version in few minutes.

[2019-03-28 19:42] kamilkisiela commented on #140
Released as [`v1.16.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.16.0)

[2019-03-29 14:12] #140 closed

[2019-03-29 15:02] BeeeQueue commented on #108
As far as I can see it is still creating a new check every run. If I understand actions correctly you have to find the check_run that started the script, and edit it. The action is [currently still creating a new one](https://github.com/kamilkisiela/graphql-inspector/blob/master/packages/github-actions/src/index.ts#L98).

[2019-03-29 15:20] kamilkisiela commented on #108
That's true but it's required to add annotations. Otherwise you see everything in logs but no informations on a schema.graphql file

[2019-03-29 15:33] BeeeQueue commented on #108
I managed to get it working with an action of my own, I didn't seem to be able to change the check message or conclusion but the annotations definitely worked!

[Example of annotation](https://github.com/BeeeQueue/famshare/runs/88259589)
[Code that does the magic](https://github.com/BeeeQueue/famshare/blob/master/actions/build/entrypoint.ts#L107)

[2019-03-29 15:46] kamilkisiela commented on #108
Didn't know it was possible, could you add same thing here?

[2019-03-29 15:46] kamilkisiela commented on #108
Message or conclusion is just done here https://github.com/BeeeQueue/famshare/blob/eee06409692c0384b1a29f22e44da1e104b4eea4/actions/build/entrypoint.ts#L131

[2019-03-29 15:48] kamilkisiela commented on #108
Yesterday I moved to `actions-toolkit` and I see you're using the same thing so I'm sure it won't be a problem to create a pull request. I will appreciate it :)

[2019-03-29 15:52] BeeeQueue commented on #108
I'll see if I can take a look at it!

[2019-03-29 22:52] kamilkisiela opened #154 "Github action that adds waiting-for-release label after PR was merged"

[2019-03-29 22:58] #154 closed

[2019-03-30 16:34] kamilkisiela commented on #97
I think so, an empty object type is not something valid in GraphQL, `graphql-js` [can't parse it](https://astexplorer.net/#/gist/e56eabddd90f8aa297bc98a092c5d919/b5d83ff93ff95b474dc6cd03c51ea0d065b6ba36).

[2019-04-13 00:49] steebchen commented on #99
It seems the release fixed something, but the other error still persists on v1.16.0. I'm using `.github/graphql-inspector.yml` as a config file:

[code]

[2019-04-17 19:03] MrDesjardins opened #208 "Error: was filtered because it contains an invalid GraphQL schema definition"
Hello,

I have a running client that consume a GraphQL service. I can query without any issue. I am trying to use the graphql-inspector but this one keeps saying:

I am using:

`./node_modules/.bin/graphql-inspector validate ./src/**/*.{ts,tsx} ./graphql/allSchema.graphql`

and the result is

File "./src/Shared/ContainerComponents/GraphQLExperimentation2.tsx" was filtered because it contains an in

[2019-04-18 14:30] kamilkisiela opened #212 "Collect usage - see what's used by API consumers and how many times"
Collect `Type.Field` info to see which fields are used which are not.

[code]

[2019-04-18 14:34] kamilkisiela opened #213 "Support versioning / change log of an API"
So people could have something like this https://developer.github.com/v4/changelog/

[2019-04-18 14:35] kamilkisiela opened #214 "Notify about schema changes via Slack / Discord"
- [x] slack
- [x] discord
- [x] webhook

[2019-04-18 14:37] kamilkisiela opened #215 "Scheduled removal of a deprecated field"
A user sets `@deprecated` and a date, so our bot/service could notify about upcoming removal.

[2019-04-18 15:14] steebchen commented on #99
@kamilkisiela just a ping to re-open this issue please :)

[2019-04-18 16:54] kamilkisiela commented on #99
Could you try `v1.18.0`?

[2019-04-19 13:15] kamilkisiela commented on #99
I see now what's going on. You get

which is something fixed in https://github.com/kamilkisiela/graphql-inspector/commit/ddf097e104269e2e6dbb47fb679795eae20f8b69

[2019-04-20 11:37] alx13 opened #228 "Client schema directives support"
Hi,
When validating schema I'm getting errors about [`@connection`](https://www.apollographql.com/docs/react/features/pagination#connection-directive) directive:
[code]
Is there a way to allow usage of custom directives in documents?

[2019-04-21 11:44] steebchen commented on #99
That's not the issue. I have a .yml file and not a .yaml, thus the info log is correct.

On v1.18.0, I still get the following error:

[code]

[2019-04-22 09:38] kamilkisiela commented on #228
As a workaround you could define that directive in your schema. In long term we could include those directives under `--apollo` or `--relay` flags or as a built-in thing

[2019-04-22 09:38] kamilkisiela commented on #228
If you want to implement it, I could help you :)

[2019-04-22 17:46] MrDesjardins commented on #208
@kamilkisiela I see that the issue is marked as "enhancement". While having more context about what is wrong is an enhancement, I believe that there is also a bug. The GraphQL schema is valid and in production at the moment. The toolings around the schema (Playground, Voyageur, etc) are all consuming the GraphQL schema without issue as well as the Express server that host the Apollo Server and the

[2019-04-22 18:05] MrDesjardins opened #233 "Build Issues"
Hello,

I tried to build the solution on my local machine (MacBook Pro) and could not. I suppose, I am missing a build step but I cannot find out any documentation in the readme.md to guide me.

**Steps:**
1- Get the code with git clone https://github.com/kamilkisiela/graphql-inspector.git graphqlinspector
2- yarn install
3- yarn build

I am getting many `ERR! yarn run build`

![image](https://use

[2019-04-22 18:15] MrDesjardins opened #234 "Require a Node Version above 8.10.0 otherwise it crashes"
I am getting the following error when trying to install the `api` package.

 [23] → yarn install
yarn install v1.7.0
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
error @probot/serverless-lambda@0.3.0: The engine "node" is incompatible with this module. Expected version ">= 8.10.0".
error Found incompatible module
info Visit https://yarnpkg.com/en/docs/cli/install for documentation

[2019-04-22 18:24] MrDesjardins commented on #233
Update:
Going one by one in all `packages` and performing `yarn install` and `yarn build` works. All commands are successful.

However, I do not see any folder `dist` even if the `.tsconfig` mention the `outDir` to be `./dist`. I also found intriguing that the `cli` project requires the `ui` project to be built. It might be a misunderstanding but is a React application hence not clear why needed.

[2019-04-22 18:51] MrDesjardins commented on #208
Update: I've done some test and here is something very odd.

I moved the `gql` into a .ts file and have the .tsx files importing the gql.

This command:
[code]
Output:

success All documents are valid

However, this is wrong because I explicitly wrote fake/bad graphQL query into the `gql` tag.

If I change the command to:
[code]

I get:

On the former, I expect that it returns an issue on the .ts

[2019-04-23 08:06] kamilkisiela commented on #234
The `/api` and `/ui` are there but it's just to encourage people to help and build something out of it, a starting point.

I don't think that including `.nvm` is a must-have here, when you see `node >= 8.10.0` is required, you just `nvm use 8` and done. What is the issue here?

The v8 seems to be in maintenance: https://nodejs.org/en/about/releases/

[2019-04-23 19:04] kamilkisiela commented on #208
I'll see if it's something done by `graphql-inspector` or `graphql-toolkit` (a dependency)

[2019-04-23 19:23] kamilkisiela commented on #99
Could you bump to `v1.18.1`? I tried it and I think it's no longer an issue. Checked both with `.github/graphql-inspector.yml` and `.github/graphql-inspector.yaml` files.

[2019-04-23 20:30] steebchen commented on #99
Thanks for re-opening. This went on for so long that I don't even know anymore if this is maybe my issue, but I wouldn't know what. New logs with v1.18.1:

[code]

.github/icon graphql-inspector.yml
[code]

new.graphql
[code]

[2019-04-23 20:38] kamilkisiela commented on #99
Ooohh ok, I think you can turn `head/master` to just `master` and it should work. I don't know why but somehow `head/something` doesn't work in Github API any more.

[2019-04-23 20:53] steebchen commented on #99
Yesss, that worked! Thanks so much for the help.

[2019-04-23 20:54] steebchen commented on #99
Just FYI, the error above is still showing:

[code]

Everything is working as expected though now, so feel free to close.

[2019-04-24 07:34] kamilkisiela commented on #99
That's the expected behavior right now, just to see what's the reason behind failed file loading, so instead of seeing "File a.yml couldn't be found" we see why is that. I might change it in the future so it won't "scream" that loud in action's log.

[2019-04-24 07:34] #99 closed

[2019-04-24 15:46] imranolas commented on #228
It would useful to support the broader case of custom directives in general. In addition to apollo connections it's also quite commonplace to add directives to handle auth.

[2019-04-25 11:15] steebchen opened #248 "GH actions: Cannot read property 'id' of undefined"
I'm not sure what caused this, but what I did is the following:

1. push a graphql breaking change in a first commit in a branch/PR
2. in the same branch/PR, push another commit which fixes the breaking change

using graphql-inspector v1.18.1

[code]

[2019-04-25 17:58] MrDesjardins commented on #208
Also, concerning the former issue. Moving the GraphQL into a .graphql file instead of having it directly into a .ts or .tsx file fixed the issue.

[code]

So, it seems that analyzing ts/tsx file causes an issue while the same query in a graphql file works as expected.

[2019-04-25 19:43] steebchen opened #250 "Enable globbing with github actions"
Just like with the CLI, I would like to use glob patterns in the .github/graphql-inspector.yml config:

[code]

However, this currently results in

[code]

because it probably looks for a single file.

[2019-04-26 22:10] MrDesjardins commented on #234
The issue is that to get started with this project you stumble into quite a few warning and error. It would be a greater experience to future contributor to have the project setup in a way that you do not need to get into trouble to discover what is required.

I personally gave up because I couldn't make it works locally within a reasonable time frame. If you see no problem, feel free discard my f

[2019-05-02 13:02] steebchen commented on #228
Also there is @client for local state management

[2019-05-02 15:14] gimoteco opened #258 "CLI custom headers"
Hi, I tried to use graphql-inspector cli to validate two authenticated graphql servers. My servers are using authentication via bearer token and I didn`t find anyway I can pass custom headers to my requests (just found --token option that only works for github). Would be awesome have this feature. Thanks

[2019-05-10 12:22] alx13 opened #266 "interface support in coverage"
If client code requests field on interface type like:
[code]

this line falls:  https://github.com/kamilkisiela/graphql-inspector/blob/master/packages/core/src/coverage/index.ts#L65
because `coverage.types` is not populated with interface `Amountable`

proposed fix:
[code]

[2019-05-11 23:10] steebchen opened #267 "Other commands for Github actions"
Right now it's possible to validate schema changes with Github actions by defining it in .github/graphql-inspector.yml and graphql-inspector automatically annotates the code (which is insanely cool). However, other commands, such as `graphql-inspector validate` for the are only supported in the CLI and not in the GH actions cli. It would be awesome if the `validate` command would be support there

[2019-05-11 23:20] steebchen opened #268 "The graphqls extension is not accepted as an introspection output"
While I can use the .graphqls extension for documents, I can't use it for the schema file in the validate command:

[code]

[code]

[2019-05-15 09:21] #266 closed

[2019-05-15 09:35] kamilkisiela commented on #250
It might be hard to implement or even impossible because we use Github's API to fetch files and it doesn't support glob patterns. Maybe there's a way to workaround and something like search results + file fetching would work.

[2019-05-15 11:23] steebchen commented on #250
Interesting, didn't know that. The problem is that I split my schema files into multiple paths to keep it organized, and even when I would use graphql-inspectors's CLI to generate a single schema, graphql-inspector-github should annotate the original file but probably couldn't even annotate the generated file.

[2019-05-15 13:52] kamilkisiela commented on #250
The thing is, GraphQL Inspector App or Action doesn't understand how to annotate schema when there are multiple .graphql files. That's why it requires a single `.graphql`.

As a workaround you can do:

	$ graphql-inspector introspect path/to/files/*.graphql --write schema.graphql

This will merge .graphql files turn that into Schema and print the output.

[2019-05-15 14:05] steebchen commented on #250
I understand, I will just stick with the normal CLI in my CI The Github Action does not provide any more functionality if you don't have anything in a single schema file which I doubt is the normal case even for small apps. Don't get me wrong though, I am really thankful for having graphql-inspector in my CI (also for queries for the client-side).

[2019-05-15 14:05] #250 closed

[2019-05-15 14:06] kamilkisiela commented on #268
Do you have any public repo where I could check it?

I tried in `/example` and worked:
<img width="1007" alt="Zrzut ekranu 2019-05-15 o 15 56 26" src="https://user-images.githubusercontent.com/8167190/57781201-03f17b80-772a-11e9-8635-0f4d1c52c51f.png">

[2019-05-15 14:10] kamilkisiela commented on #250
We use it as part of git hook in pretty much all of our client's apps, some reaches millions of people per month with huge codebase and GraphQL Schema.

Git hook runs `$ graphql-inspector introspect` or sometimes `$ graphql-codegen --config codegen-introspect.yml` and developers are happy. They see what has changed because it's in one file (bitbucket) and they get annotations (github).

[2019-05-15 14:10] steebchen commented on #268
Weird, I can't reproduce it either right now. I recently re-installed the cli so maybe that was the issue or something was wrong on my end. Thanks a lot for checking.

[2019-05-15 14:18] steebchen commented on #268
The `introspect` command does not accept .graphqls files, though. Maybe I confused the command while creating the issue.

[code]

[2019-05-15 14:23] steebchen commented on #250
So you use one single schema file for the whole API and commit it to git?

[2019-05-15 14:24] kamilkisiela commented on #250
We have Schema defined in multiple places, usually within .graphql or .ts files but we extract that into a single file with git hook. Just for GraphQL Inspector and some codegen things.

[2019-05-15 14:30] steebchen commented on #250
Okay, and I assume that file is committed into git so that graphql-inspect-github can annotate the code inline, right? Otherwise, I don't see a reason to commit a full schema.graphql(s) because codegen handles globs fine (at least for the client, I'm using a different codegen lib for the GraphQL server).

[2019-05-15 14:32] kamilkisiela commented on #250
Yes + we get Intellisense in IDEs thanks to that

[2019-05-15 14:37] steebchen commented on #250
Got it, thanks. Actually we get that too without generating the extra schema.graphqls, we use IntelliJ with the GraphQL extension and you can just specify globs for your schema files such as `api/**/*.graphqls` in the .graphqlconfig. Works perfectly for type checking, highlighting, "go to definition", "show usages", etc.

[2019-05-15 15:08] kamilkisiela commented on #258
#281 should do it :)

[2019-05-15 15:10] gimoteco commented on #258
Thanks

[2019-05-16 13:07] riffraff opened #287 "Option to let `diff` ignore deprecated fields"
I sometimes want to drop deprecated fields which are no longer in use.

I'd like to have a switch for ignoring removals on deprecated fields, so that i.e. removing a non-deprecated field is considered a breaking change, but removing a deprecated field (possibly after a certain date) is not bad.

I'm not sure this is related to #215.

I may be able to take a stab at this if it's considered a valuab

[2019-05-21 07:37] kamilkisiela commented on #287
Hi, sounds good! Feel free to work on it, I could help if you want to :)

[2019-05-21 15:49] kamilkisiela commented on #233
I don't know how it might not work for you since it works for CI and Github Actions.

What I did and what CI does:

Could you try again?

[2019-05-22 16:29] brainlessdeveloper opened #300 "Set Access-Control-Allow-Origin on the server, or allow setting it via CLI"
Hello there and thanks for the awesome tool!

I was trying to use `graphql-inspector serve` on my local application as a way of doing a layman's chaos testing session. To get it to work I had to go into the bundled code and change:

[code]

to this:

[code]

The variable being called `options` makes me thing it's configurable via the programmatic `@graphql-inspector/core`, but I think it should be

[2019-05-24 15:13] kamilkisiela commented on #268
Released as `v1.19.0`

[2019-05-24 15:19] steebchen commented on #268
Thanks so much for fixing!

[2019-05-24 15:19] #268 closed

[2019-05-24 16:29] dchambers opened #306 "'Action Required' message from Github App?"
<img width="1006" alt="Screen Shot 2019-05-24 at 17 20 41" src="https://user-images.githubusercontent.com/283294/58342483-617f7980-7e48-11e9-92bd-8ff959aedac3.png">

Any ideas as to how I can debug things if the Github App simply says 'Action Required', and where clicking the Resolve' link merely opens `https://graphql-inspector.com/` in a new tab?

Thanks for any pointers in advance 😄

[2019-05-27 12:47] kamilkisiela commented on #306
Hmm, you should see annotations in **Files changed** tab if not, let us know here

[2019-05-27 17:22] saerdnaer opened #311 "Add option to disable findDuplicatedFragments test"
In our use case, it would be nice to be able to disable the findDuplicatedFragments test. Is it possible to an option for that?

https://github.com/kamilkisiela/graphql-inspector/blob/7a6d3c8a07aaec50a705477a66cca961f27dec47/packages/core/src/validate/index.ts#L81-L99

[2019-05-28 10:44] dchambers commented on #306
Hi @kamilkisiela, many thanks for the reply 👍. I don't see any annotations in the 'Files changed' tab, or any of the other tabs apart from the 'Checks' tab, where I see this:

<img width="1439" alt="Screen Shot 2019-05-28 at 11 41 17" src="https://user-images.githubusercontent.com/283294/58472233-bc152000-813d-11e9-8bf7-34c6adeef0de.png">

[2019-05-28 16:09] kamilkisiela commented on #306
@dchambers it might happen because of missing config or schema file. Could you tell me how your config looks like and where it's located?

Github API changed recently so if you have something like below, please use branch's name directly:

[code]

[2019-05-29 12:42] dchambers commented on #306
@kamilkisiela, I've been able to make some progress by moving the config to within `package.json`, and it now permanently says 'In progress' rather than the 'Action required' error I had before.

My config within `package.json` is as follows:

[code]

where `graphql-middleware/schema.graphql` contains an automatically generated schema (not generated by graphql-inspector though) that's committed to

[2019-05-30 11:40] dchambers commented on #306
This started working on new branches that were created, so I think there was some issue with getting it to re-run on my force pushed branch that made me think that my changes still weren't working. Thanks so much for the help @kamilkisiela, and for the awesome tool 🙌.

[2019-05-30 11:40] #306 closed

[2019-05-31 11:11] #233 closed

[2019-05-31 12:56] kamilkisiela commented on #311
#321 should enable that

[2019-05-31 13:26] #311 closed

[2019-06-03 13:28] dchambers opened #325 "Pull Request behind the target branch causing issues"
By comparing a PR that may not have been rebased against the latest changes to `master` against `master` itself, _graphql-inspector_ emits backwards compatibility warnings for any recently added fields, even though these fields won't be removed by the PR. Although it's possible to work around this by merging the latest `master` whenever this happens, this is a bit of a faff, especially given that

[2019-06-13 13:55] loremaps opened #349 "Question: Should glob work with introspection command?"
We have a modularized server with several `.graphql` files. If I understand correctly from the discussion in #250 it should be possible to do the following workaround (with glob):
[code]
In order to get one big schema file.

This makes sense to me, since the `graphql-toolkit` is used to load the schema:
https://github.com/kamilkisiela/graphql-inspector/blob/e87c322703f305323cff947a156a5709877978c7

[2019-06-13 15:00] loremaps commented on #349
I think I just figured this out it should be passed with quotes right? :man_facepalming:
[code]

[2019-06-13 15:00] #349 closed

[2019-06-14 13:51] loremaps opened #352 "coverage error if __typename is in the query"
It seems that coverage throws error if the query contains the field `__typename` in the following line:
https://github.com/kamilkisiela/graphql-inspector/blob/e87c322703f305323cff947a156a5709877978c7/packages/core/src/coverage/index.ts#L66

Do you think it is OK to simple ignore it?

[2019-06-14 14:05] kamilkisiela commented on #300
You can use `--header`, an example:

[code]

[2019-06-14 14:11] kamilkisiela commented on #300
https://github.com/kamilkisiela/graphql-inspector/pull/354

[2019-06-14 14:11] kamilkisiela commented on #352
I think it's ok

[2019-06-14 14:12] #352 closed

[2019-06-14 14:31] kamilkisiela commented on #311
Released as `1.20.0`

[2019-06-14 14:33] kamilkisiela commented on #349
@loremaps Yeah, I noticed that recently too, either yarn or the terminal itself looks for files at that glob and turns it into a list of matches. Weird :)

[2019-06-14 14:34] #258 closed

[2019-06-14 14:43] kamilkisiela commented on #258
released as `1.20.`

[2019-06-14 14:43] #300 closed

[2019-06-14 18:04] amaranthHe opened #357 "How to use API - a sample node project needed"
Could you please provide an executable sample node project that demo how to use the API?

[2019-06-16 19:02] kamilkisiela commented on #357
If you mean the `@graphql-inspector/api` than it's still in development and with the `@graphql-inspector/ui` creates a base for future desktop application. I just pushed it so anyone from the community could pick it up and continue working on it.

If you meant the CLI, then `/examples` has what you want to see.

[2019-06-16 20:10] kamilkisiela opened #361 "Azure DevOps hub"
Do the same thing as for Github but for Azure DevOps (as a hub) :)

[2019-06-17 15:04] kamilkisiela opened #362 "Use DocumentNode instead of GraphQLSchema"
Don't produce GraphQL Schema, everything should be based on `DocumentNode`.

[2019-06-21 19:48] kamilkisiela commented on #54
With `v1.21.0` (#366 and #368) it's now possible to use GraphQL Inspector with bitbucket 🚀

@maorhayoun @bs1180 @FredyC

[2019-06-21 19:48] kamilkisiela commented on #361
With `v1.21.0` (#366 and #368) it's now possible to use GraphQL Inspector with Azure DevOps 🚀

[2019-06-21 19:51] kamilkisiela commented on #267
I guess for now you can use CLI and thanks to #366 it's possible to load `schema.graphql` via `git`.

[2019-06-21 19:59] FredyC commented on #54
Um, so how does that actually work? In the readme, I see [some mention for GitHub](https://github.com/kamilkisiela/graphql-inspector#github-bot-and-github-actions) but how to configure something similar for BitBucket? I am not that well versed with its configuration just yet.

[2019-06-21 20:11] kamilkisiela commented on #54
I described a bit how to use Inspector with CircleCI but it should be fairly similar in Bitbucket

https://graphql-inspector.com/docs/recipes/ci

[2019-06-21 20:12] kamilkisiela commented on #54
It has some limitations since it doesn't communicate with Bitbucket API, just an executable, so no cool annotations like in GitHub but we will get there eventually :)

[2019-06-24 11:38] steebchen commented on #267
Nice! Any chance there will be support for globs to the following?

[code]

It seems the git: syntax does not yet support globbing while the normal syntax "**/*.graphql" does.

Also I think there's missing something so I left a review: https://github.com/kamilkisiela/graphql-inspector/pull/366#discussion_r296679655

[2019-07-17 16:40] kamilkisiela commented on #325
I don't understand why you want to do it. A Pull Request is defined to be merged into `master`, so you need to know if the PR won't break anything. If you compare it to something different than what's the point?

Could you explain a bit more? Maybe I don't understand something?

[2019-07-17 16:46] kamilkisiela opened #431 "Query depth limit"

[2019-07-17 16:50] kamilkisiela commented on #97
I guess we could throw a better error here

[2019-07-17 19:26] kamilkisiela commented on #431
`1.22.0`

[2019-07-17 19:26] #431 closed

[2019-07-18 15:13] kamilkisiela commented on #97
https://github.com/ardatan/graphql-toolkit/pull/176 should fix it

[2019-07-19 15:38] kamilkisiela opened #444 "Fail on a breaking change only if it affects existing operations"
We could warn about breaking changes instead of failing the process if we're sure they won't affect existing operations.

[2019-07-23 08:41] loremaps opened #452 "graphql-tag-pluck peer dependency"
Hi,

It seems that `graphql-tag-pluck` is now a peer-dependency of `graphql-toolkit` since `v0.3.2`:
ardatan/graphql-toolkit#152

Should we add `graphql-tag-pluck` as a dependency (or peer) of `@graphql-inspector/load` package? Or I am missing something else?

With `v1.22.0` I am getting the following error using a command like `graphql-inspector validate 'src/app/**/*.ts' ./schema.graphql`:

[cod

[2019-07-23 13:35] kamilkisiela commented on #452
Yes but I didn't notice that change in `graphql-toolkit`. Hmm I will talk with the team why we move it into peerDeps.

[2019-07-25 00:41] AwolDes opened #457 "GitHub Application does not run checks"
I installed the Github Application for my repo with the following in my `package.json`:

[code]
I also attempted a similar configuration in the `graphql-inspector.yaml` file, but that did not work either.

When I go to check on the checks for a PR, the only thing that has been said is that the job has been queued
![image](https://user-images.githubusercontent.com/9693812/61837556-a4051700-aec8-11e

[2019-07-25 06:51] #457 closed

[2019-07-27 04:23] ghiculescu commented on #457
This is still an issue, did you mean to close if Austin?

[2019-07-31 08:47] kamilkisiela commented on #457
@ghiculescu @AwolDes That's because we reached the paid plan on Netlify, there's over 1 mln requests each month. I recommend to either use GitHub Actions or have your own GitHub Application. In near future, I might turn on some donations to make it sustainable.

[2019-07-31 09:36] leethree commented on #208
I think you need to wrap the parameter in quotes. like this
[code]

[2019-07-31 09:36] kamilkisiela commented on #208
yeah, OS turns glob into an array of files

[2019-08-02 03:56] AwolDes commented on #457
@kamilkisiela thanks for the the clarification.

[2019-08-05 05:39] MM3y3r commented on #311
Cool! Thank you!

[2019-08-05 08:40] kamilkisiela commented on #97
Since the PR was merged I need to bump the dependency of `graphql-toolkit` and we're good to go, should be released today :)

[2019-08-09 09:37] kamilkisiela commented on #97
I released `v1.22.1`, it includes the fix.

[2019-08-09 09:37] #97 closed

[2019-08-09 09:55] kamilkisiela commented on #208
@MrDesjardins we did some work libraries that GraphQL Inspector depends on, could you check if `1.22.1` works for you?

[2019-08-09 11:00] kamilkisiela commented on #228
#505 should add Apollo specific directives. In order to use custom directives, you can just include their definitions in the GraphQL Schema.

[2019-08-09 12:09] kamilkisiela commented on #287
#506 enables that. Every removal of a deprecated field is *Breaking* by default but you can add a rule to make *Dangerous* so you still get a warning but it won't fail the process.

`--rule suppressRemovalOfDeprecatedField`

[2019-08-09 12:39] #208 closed

[2019-08-09 12:39] #228 closed

[2019-08-09 12:39] #287 closed

[2019-08-09 12:53] kamilkisiela opened #510 "Move to Zeit - Netlify got expensive"
So many of you are working with GraphQL Inspector App

[2019-08-09 21:13] #510 closed

[2019-08-10 07:46] riffraff commented on #287
awesome, thanks!

[2019-08-11 09:13] kamilkisiela opened #523 "Link the result with the action log"

[2019-08-16 15:09] woelfle opened #541 "Diff fails in case of empty GraphQL Types"
Comparing GraphQL schemas via
`graphql-inspector diff old-version.graphql new-version.graphql `

results in a message

`error Unable to find any GraphQL type defintions for the following pointers: new-version.graphql`

in case the file 'new-version.graphql' contains an empty type definition.

I.e. in case 'old-version.graphql' contains the content

[code]

and 'new-version.graphql' contains conten

[2019-08-20 11:50] georgeboot opened #549 "How to use GraphQL endpoint with Github Actions?"
I am trying to configure a github action, but I'm not winning.

Previously, we ran the cli version of this package in CLI like so:
[code]

That worked fine.

What I'm now trying, using Actions, is the following:

[code]

My config file:
[code]

However, this fails every time I try, with the following output:
[code]

What am I doing wrong?

[2019-08-21 09:57] spawnia opened #552 "Publish the CLI as a container to Docker Hub"
Thanks for the great project.

I saw you created https://github.com/kamilkisiela/graphql-inspector/blob/master/Dockerfile-cli and have also set up a repository at https://hub.docker.com/r/kamilkisiela/graphql-inspector

Can you publish the CLI image there? It is quite simple to set up an automated build with Docker Hub.

[2019-08-26 15:10] melo0187 opened #560 "Unable to build schema from a `.graphqls` file"
I just wanted to give the inspector a try with our existing GraphQL server. We are using the schema first approach with graphql-java-tools and eveyrthing is working.

However, trying to use graphql-inspector's diff command is giving me an error.
[code]

The output just says `error Unable to build schema from git` and I don't know where to go from here. The command does not offer any more advice.

[2019-08-28 20:59] jayqui-omada opened #566 "command not found: graphql-inspector"
[code]

installation happens, and `"@graphql-inspector/cli": "^1.23.1",` gets added to the `dependencies` in my package.json

[code]

Any ideas why this might occur?

[2019-09-02 07:52] georgeboot commented on #566
You probably don't have your `node_modules/bin` in your `PATH`.

You could try `npx graphql-inspector --help`

[2019-09-03 13:02] kamilkisiela commented on #560
I see... it's because only `.gql` and `.graphql` are accepted. I will fix it soon.

[2019-09-03 13:04] kamilkisiela commented on #566
I don't recommend to have it installed globally. The `graphql` package is veeeery sensitive about having multiple different versions of it within a project. But if you still want to have it installed globally, remember to install `graphql` too.

[2019-09-03 13:06] kamilkisiela commented on #549
It doesn't support graphql endpoints, only files. I will try to implement it today.

[2019-09-03 13:07] kamilkisiela commented on #541
Is empty type a thing in GraphQL? I thought it's invalid... That's why we don't even consider empty types.

[2019-09-03 13:17] kamilkisiela commented on #549
Why do you want to compare it against a deployed GraphQL endpoint and not the master branch?

[2019-09-03 13:18] kamilkisiela commented on #325
Closing because I did not get any answer.

[2019-09-03 13:19] #357 closed

[2019-09-03 13:21] kamilkisiela commented on #452
#577

[2019-09-03 13:24] kamilkisiela commented on #234
I will leaveI think `engine` in `package.json` is enough

[2019-09-03 13:24] #234 closed

[2019-09-03 13:57] kamilkisiela commented on #552
#578 should fix it

[2019-09-03 14:27] kamilkisiela commented on #552
[v1.24.0](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.24.0)

[2019-09-03 14:27] kamilkisiela commented on #552
@spawnia let me know if it works

[2019-09-03 14:27] kamilkisiela commented on #452
[v1.24.0](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.24.0)

[2019-09-03 14:27] #452 closed

[2019-09-03 14:27] kamilkisiela commented on #560
[v1.24.0](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.24.0)

[2019-09-03 14:27] #560 closed

[2019-09-03 14:46] melo0187 commented on #560
@kamilkisiela thank you for reacting so quickly!

Sadly I'm still out of luck:
[code]

[2019-09-03 17:57] woelfle commented on #541
I haven't found anything in the GraphQL spec that mentions whether empty types are valid nor not. Therefore it might be subject to interpretation. I've been running into this issue because we are generating the GraphQL schema from Meta-Information in our System. In our case it can happen during development that a new type does not yet have and 'published' features. In that case currently an empty

[2019-09-03 18:34] georgeboot commented on #549
Well, technically I could also checkout master branch in a PR and generate the `.graphql` file from there. It's just easier to grab it from the live version as that is for sure whats out there currently. Master technically doesn't have to be deployed.

Note that the error message I'm getting states that the config file could not be found. Or this error message is very misleading, or (more likely)

[2019-09-04 10:40] bearbytes commented on #566
The reason for this error is that this command does not actually install the program globally, instead, it installs it in a node_modules folder of the current working directory:
`npm install --save-global @graphql-inspector/cli`

Instead, use this command:
`npm install --global @graphql-inspector/cli`

[2019-09-09 06:06] maapteh opened #602 "readme update, on cli parts sometimes no documents passed to cli"
Kamil, awesome library as usual :)

In the main docs sometimes its forgotten to have DOCUMENTS in the cli examples.

Like: `graphql-inspector coverage ./src/schema.ts --require ts-node/register`

but no documents are passed. So it has to be changed into:

`graphql-inspector validate ./src/_generated-hooks.tsx ./src/_generated-schema.graphql --require ts-node/register`

If needed i can update your

[2019-09-09 07:43] kamilkisiela commented on #602
Oh, I missed that somehow. Sure, would be nice to see a Pull Request, could you? :)

[2019-09-09 07:44] kamilkisiela commented on #566
#600

[2019-09-09 07:44] #566 closed

[2019-09-09 08:50] georgeboot commented on #549
@kamilkisiela any clue why it says it can't find my config file?

[2019-09-10 17:25] #602 closed

[2019-09-10 17:51] kamilkisiela commented on #541
@woelfle https://stackblitz.com/edit/graphql-empty-object-type?file=index.ts

Usually what we do is we add `_: String` field and later on we use `extend type`. But that's a workaround.

[2019-09-10 18:16] woelfle commented on #541
We have already implemented the workaround that I've described in the last comment. It works well for use. Therefore you can close this ticket if you like.

[2019-09-11 20:10] maapteh opened #611 "github app has broken links"
https://graphql-inspector.netlify.com

https://camo.githubusercontent.com/5564131118adde51540f8f851777765e43a5a73c/68747470733a2f2f6772617068716c2d696e73706563746f722e6e65746c6966792e636f6d2f696d672f636c692f6769746875622e6a7067

[2019-09-12 11:17] fabsrc opened #616 "Disable output of description changes for schema comparison"
It would be great if there was an option/rule to disable the output of description changes when using the `diff` command. We are comparing our deployed GraphQL server's schema against the local schema files, but some descriptions are added during the runtime. So the diff output always includes description changes even though they are actually not changes at all.

Something like this would be reall

[2019-09-16 09:33] kamilkisiela commented on #611
Are you sure? I changed it a month ago and it seems like it's working, I see it in logs.

[2019-09-16 10:44] maapteh commented on #611
try to click the first link :)

[2019-09-16 12:02] kamilkisiela commented on #611
I moved from netlify to zeit :) GitHub App points to a lambda function on zeit now.
https://graphql-inspector.now.sh/

[2019-09-17 09:32] wtrocki commented on #23
Generic function in GraphQL-js have this supported in diff:
https://github.com/graphql/graphql-js/blob/master/src/utilities/findBreakingChanges.js#L499-L501

[2019-09-26 15:44] chunksnbits opened #650 "Allow custom rules from file"
It would be useful for the CLI to accept custom rules (provided from local filesystem).

Usage scenario:
In our our schema definition process we differentiate between draft and main schema.

The draft-schema in many parts will differ from the main schema, as it used for schema discussion and testing of future features.
For the validation and maintenance however we need to ensure that the main sche

[2019-09-26 17:28] #552 closed

[2019-09-27 11:01] kamilkisiela commented on #650
Hi :) Yep, it seems reasonable. I can help you with the PR!

[2019-09-30 14:10] chunksnbits commented on #650
Pull request is now open.
I am looking forward to your feedback :)

[2019-09-30 15:09] dchambers commented on #325
Apologies @kamilkisiela, I managed to miss your reply here.

Suppose you have two developers, Bob & Sue, both working on the same codebase. They both pull the code at the same time to begin their work -- let's call the commit they start with `#c0`.

After a day, Sue commits a change where she adds a new field to the schema (`Person.age` for arguments sake), so that the latest commit on `master` is

[2019-10-08 07:37] kamilkisiela commented on #616
#687

[2019-10-08 14:39] #616 closed, assigned to nobody

[2019-10-08 14:39] #650 closed

[2019-10-09 07:14] loremaps commented on #452
@kamilkisiela sorry for taking so much to test this :disappointed:

After this fix I am getting the following error, when I try to validate `.ts` docs:
[code]
According to this DAB0mB/graphql-tag-pluck#11 `typescript` is to be dynamically loaded when needed. Indeed if I install typescript everything works fine.

Do you think it should be a peer-dependency here or upstream on `ardatan/graphql-toolk

[2019-10-09 23:02] shavo007 opened #702 "Is Inspector's Diff similar to GraphQL's findBreakingChanges?"
hi,

is this similar logic to graphql lib?
https://github.com/graphql/graphql-js/blob/master/src/utilities/findBreakingChanges.js

thanks,
shane

[2019-10-10 02:13] shavo007 opened #707 "introspection not generating full schema"
hi,

i am trying to generate the schema to be used for diffing.

logic as so
schema.ts
[code]

my yarn script is

[code]

the problem is when i look at the output, its missing all my queries and mutations.

I have a modularised schema.

When i look at the schema file it has for example:
[code]

this is different from playground when i down via apollo-cli

[code]

it looks like

[code]

how do i ge

[2019-10-11 14:57] kamilkisiela commented on #702
@shavo007 Inspector's schema diff shows all differences - breaking, dangerous and totally safe.

In `graphql-js` there are two functions: `findBreakingChanges` and `findDangerousChanges`.
Both cover pretty much what GraphQL Inspector shows as breaking and dangerous but Inspector also shows you those non-breaking and non-dangerous changes, so it gives you a full insight.

Why I decided to move away

[2019-10-13 21:54] shavo007 commented on #702
thanks for the detailed explanation @kamilkisiela

[2019-10-13 21:54] #702 closed

[2019-10-17 16:05] tjwelde opened #729 "Imported fragment not recognized"
Given a fragment:
[code]

and a query:
[code]

The command
[code]

returns
[code]

If I copy the fragment into the `node.query.js` file, either directly in the query, or as a variable, it works.

Do you have any idea, why that happens? I tried with node v10 and node v12

[2019-10-18 19:34] kamilkisiela commented on #729
We don't use AST to look for variables and resolve them but just to find template literals. The logic behind this drops variables so you have to define a pattern that includes both files (fragment and query).

Something like:

    graphql-inspector validate './test/*.query.js' ./test/schema.graphql

[2019-10-18 19:34] #611 closed

[2019-10-21 12:01] tjwelde commented on #729
Hey @kamilkisiela,

ah, thanks for the clarification, I already got the feeling, that you do something like that, after I investigated the issue more.
Also good, that you show the DOCUMENTS argument in your command in quotes, because I had another issue with glob patterns, because my `fish` shell apparently always expanded these glob patterns into multiple arguments.

Now that everything is clarif

[2019-10-22 07:57] lajtmaN commented on #306
We have more or less the same problem in our setup. We installed the Github App, added configuration to `package.json`, but it remains in progress forever.
We do not have one big schema with everything, we have lots of pieces, which are then imported to the different files. The diff tool in the CLI handles this perfectly which is why I would assume the App would do the same.
We have the configurat

[2019-10-22 08:21] kamilkisiela commented on #306
@lajtmaN could you share your config?

[2019-10-22 08:26] lajtmaN commented on #306
In `package.json`:
[code]
I also tried using just `master`, but with the same results.

The schema file which we link to contains:
[code]
But as I said earlier, it works fine in the command line.

[2019-10-22 08:44] kamilkisiela commented on #306
@lajtmaN could you remove `head/` from `schema.ref`? Github API somehow doesn't handle `head/` prefixes.

One extra thing, Github App won't be able to resolve those imports in your graphql file. It doesn't clone the repository and installs dependencies and then runs GraphQL Inspector CLI but fetches files from Github repository using Github API.

What we usually do is we save an entire schema to o

[2019-10-22 21:29] #729 closed

[2019-10-24 17:03] fabsrc opened #754 "coverage fails with introspection query"
Using the `coverage` function with the introspection query (obtained with `getIntrospectionQuery`) results in an Error:

[code]

I'm aware that `coverage` does not make sense with the introspection query, however I still think this should work. I'm currently trying to create some automated coverage report using queries from a query registry. This query registry also includes introspection queries.

[2019-10-25 08:11] marhaupe opened #758 "Cannot find module 'core-js/proposals/array-flat-and-flat-map'"
Similar to #85, running this instruction:
[code]

runs into the following error:

[code]

[2019-10-25 14:16] kamilkisiela commented on #758
@marhaupe could you share a whole error trace?

[2019-10-25 14:41] marhaupe commented on #758
Weirdly that's the only thing that's being printed.
[code]

Is there a `verbose`-like option I am missing?

[2019-10-27 09:20] ka765 commented on #754
Jr. I need you

[2019-10-27 09:22] ka765 commented on #758
Jr please call

[2019-10-27 09:25] ka765 opened #763 "Jr"
Hello Jr please get a hold of me @james warnock

[2019-10-27 09:27] ka765 commented on #707
Jr

[2019-10-27 09:29] ka765 commented on #361
Jr call me please

[2019-10-27 09:37] ka765 commented on #552
Hello jr

[2019-10-27 12:04] marhaupe commented on #758
After installing locally and without running the binary via `npx` I get the following trace:
[code]

I installed `graphql-inspector@0.5.1` and am running with `node --version=v10.16.3`

[2019-10-30 04:15] sscotth commented on #758
Try `﻿npx @graphql-inspector/cli` instead.

[code]

[code]

[2019-10-30 21:35] sscotth opened #780 "Validation fails with required @client fields"
Validation of unused variables fails with `@client`:

[code]

[code]

Test case:

[code]

[2019-10-31 11:48] kamilkisiela commented on #758
@marhaupe It's `npx <package-name>` so I don't think there's a way to do it

[2019-10-31 11:48] #758 closed

[2019-10-31 12:41] #754 closed

[2019-10-31 16:25] kamilkisiela commented on #780
#783

[2019-10-31 16:34] #780 closed

[2019-11-17 18:20] Ambro17 opened #881 "Bug on enum diffing"
https://github.com/kamilkisiela/graphql-inspector/blob/6e341ea19f22a902440398df0224baf49e5135d5/packages/core/src/diff/enum.ts#L18

i think it should say v.name as the line after

[2019-11-25 12:45] nayaabkhan opened #907 "Annotations reported on the wrong lines in the PR"
Test repository PR: https://github.com/nayaabkhan/graphql-inspector-pr-issue/pull/1/files

Observations:

1. It seems that the lines for comments with `#` are not accounted for.
2. The annotation of removal takes the line number from the older version and displays it on the position for the new version.

[2019-11-26 11:30] alekseyBatuhtin opened #912 "How to check difference between inline json schemas?"
[code]

![Screenshot from 2019-11-26 18-25-32](https://user-images.githubusercontent.com/20453923/69626062-70a2e680-107a-11ea-9db3-c5952b9cd186.png)

[2019-11-26 11:38] alekseyBatuhtin commented on #912
I try compare `schema.json` from repository and local version. How can i resolve this problem?

[2019-11-27 07:17] alekseyBatuhtin commented on #912
I solved issue like that:
[code]

[2019-11-27 07:17] #912 closed

[2019-12-02 08:26] chrisae opened #935 "Adding member to Union is a breaking change?"
Hi there,

I'm not 100% sure but I expected not, that adding new members to a union is a breaking change.

Simple example.

Before change:
[code]

After change, adding one more type:
[code]

Gives this error:
[code]

The union becomes more general but it won't break the existing implementation. Or I'm missing something here?

Thanks for your help

[2019-12-04 10:13] X4V1 opened #941 "unable to use fragments located in a different file"
I have this:

/graphql/documents/queries/my-query.graphql:
[code]

/graphql/documents/fragments/my-fragment.graphql:
[code]

The query is tested and is fully working.
The problem is that the query validations failed because the fragment in located in a different file.
The same query with the fragment contained in the same file is validated successfully (so the problem is really the link between th

[2019-12-04 10:26] kamilkisiela commented on #941
Could you try this?

[code]

[2019-12-04 10:32] X4V1 commented on #941
It's working fine. Thank you very much :)

[2019-12-04 10:33] #941 closed

[2019-12-12 06:14] nayaabkhan commented on #907
@kamilkisiela ICYMI. I also would be glad to work on a PR if this is indeed a confirmed bug. What do you think would be a good starting point to look at for a potential fix?

[2019-12-17 01:42] zionts commented on #1
Very excited about this! I've thought about this concept quite a bit, and it's exciting to see it gain some traction in the community :)

I think that this should begin with defining some sort of specification for how to complexity of an operation is computed from the complexity of fields and how this works with arrays.

For instance, I could imagine a schema along the lines of
[code]
wherein a qu

[2019-12-17 01:43] zionts commented on #212
Is there a larger design for how this should be collected and where this should be tracked? It seems as though there might be an upfront data modeling task embedded within this :)

[2019-12-17 01:45] zionts commented on #212
I think that we should also consider that we want to understand not just when _fields_ are used, but also arguments, interfaces, unions, default arguments, etc.

As an example, if we have an `interface Identity` with implementors `Person` and `Robot`, and we have a query like
query WhoAreYou {
  identity(id: "foo") {
    ... on Person {
      name
    }
  }
[code]

[2019-12-17 01:47] zionts commented on #214
hmm... how about a more generic webhook implementation where people can write a webhook that handles the information and forwards it to their favorite service? Then this can be followed up by a generic webhook handler that can forward to whichever channel makes the most sense for them, translating the event information's default JSON into the format that works best for them?

[2019-12-17 01:47] zionts commented on #523
What does this mean?

[2019-12-17 01:52] zionts commented on #935
I understand why adding a member to a union _could_ be a breaking change, and this is because client code may be relying on the fact that it has complete coverage of all of a union's cases. However, I agree with @chrisae that without understanding the kind of queries people are making, the default behavior should be to accept additions to unions, since existing queries will certainly continue to b

[2019-12-31 11:23] #881 closed

[2019-12-31 12:24] kamilkisiela commented on #935
950fb22 should fix it

[2019-12-31 12:40] kamilkisiela commented on #935
[`v1.27.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.27.0)

[2019-12-31 12:40] #935 closed

[2020-01-10 05:42] adam-h opened #1056 "graphql-inspector-github fails to run due to "Cannot read property 'setFailed' of undefined""
When running `graphql-inspector-github` on v1.27.0 I get the following error:

[code]

From poking around in `dist/index.js` changing:

    core_1.default.setFailed(e.message || e);

to

    core_1.setFailed(e.message || e);

Makes it move forward, a similar change in `run.js` gets me further. It seems like something is broken in the TS -> JS build around the default import.

Reverting to 1.25.0 w

[2020-01-15 19:52] chalichb opened #1075 "Server Schema Directive Support"
We are getting ready to implement our graph solution using AWS AppSync and Amplify. These have a set of directives which are specific to these services.

When I'm attempting to add some sanity to our build/deploy process the following error is produced.

**error Unknown directive "aws_subscribe".**

Adding the directive definition for @aws_subscribe to the schema, the diff worked as expected. Howe

[2020-02-13 10:23] melo0187 opened #1196 "GitHub Actions fails with private repo: "HttpError: Bad credentials""
Can't get this to work with a private repo as a GitHub Action.

My workflow file `.github/workflows/graphql-inspect.yml`:
[code]
My config file `.github/graphql-inspector.yml`:
[code]

Action log output:
[code]
I'm guessing the "Failed to find any config file" message can be ignored and is just a followup error of octokit returning "HttpError: Bad credentials".

Is my setup wrong or is this simply

[2020-02-17 06:56] nodkz opened #1201 "CLI quite overweighted (395 deps, 62.23mb, 17350 files)"
Just added `@graphql-inspector/cli` and was shocked by how many dependencies it uses.

It slows down CI tasks. So maybe need to create a `@graphql-inspector/ci` or `@graphql-inspector/cli-diff` package where will not be present `apollo-server`, `express`, `graphql-tools` packages. In CI there is one task - check the difference between tho schemas very fast.

[2020-03-15 03:53] benjamin-rood commented on #1075
I'm guessing this is failing because you haven't actually defined the directive anywhere, correct? You just make use of these because AppSync and Amplify support them.

[2020-03-24 14:19] chalichb commented on #1075
The problem I have is that the schema that we maintain does not have these directives defined. They are automatically added to the schema which is run in AWS AppSync. Locally ... if I concat these directives with my schema, graphql-inspector works as designed. I'm proposing a CLI arg to add these directives.

[2020-03-30 21:53] Ambro17 opened #1341 "error Cannot read property 'bold' of undefined"
Running latest docker image
`docker run -it --rm -v $PWD:/app kamilkisiela/graphql-inspector graphql-inspector similar a.gql`
with schema
[code]

gives error
`error Cannot read property 'bold' of undefined`

[2020-04-04 10:07] kamilkisiela commented on #1201
I'm working on more granular CLI where you have `inspector.config.js` like this:

[code]

And following packages installed:
[code]

Each command or loader is a package and you can decide what to use. I have it working, just need to clean up the repository a bit and do some monorepo work.

[2020-04-04 10:21] kamilkisiela opened #1371 "Roadmap 2.0"
Track current progress in ["Full Product" project](https://github.com/kamilkisiela/graphql-inspector/projects/4).

# Free and OpenSource

As always, all the things done in GraphQL Inspector are free to use and open-sourced. Everything can be self-hosted. That's the core value of Inspector.

- [Granular CLI](#granular-cli)
- [Change Log, Versioning and History of your GraphQL API](#changelog)
- [St

[2020-04-05 17:44] kamilkisiela commented on #1196
@melo0187

[code]

[2020-04-05 17:45] kamilkisiela commented on #1196
@melo0187 and let me know if it helps

[2020-04-05 17:46] kamilkisiela commented on #1056
#1372 Should fix it

[2020-04-07 12:15] spawnia opened #1378 "Descriptions appear empty when fetched through URL introspection"
When running a diff from a remote schema against a local schema, the descriptions of the remote schema appear empty.

[code]

I checked the sent introspection query (it includes `description`) and the result (the field actually has a description).

This error does not occur when comparing two local schemas, different descriptions are detected correctly. When comparing two remote schema's, differen

[2020-04-07 21:02] kamilkisiela commented on #907
I fixed it in #1372

https://github.com/kamilkisiela/graphql-inspector/pull/1372/files#annotation_159906321

<img width="1033" alt="Zrzut ekranu 2020-04-7 o 23 01 39" src="https://user-images.githubusercontent.com/8167190/78719160-c7bba080-7923-11ea-87d4-92a776dfb33b.png">

[2020-04-07 21:03] kamilkisiela commented on #1341
Fixed in #1372

[2020-04-07 21:04] kamilkisiela commented on #1201
Done in #1372

[2020-04-07 21:07] kamilkisiela commented on #1378
@spawnia could you share the description or even part of your schema? Even just Query.example

[2020-04-07 21:16] kamilkisiela commented on #1378
I think it's comparing two descriptions correctly but it cuts of a description after `'` and `"`. That's probably because of [`bolderize`](https://github.com/kamilkisiela/graphql-inspector/blob/4ef52b691a7a86222f65c57d1ea18b79b3390c09/packages/cli/src/render.ts#L26-L46) function and its regex.

[2020-04-08 06:28] spawnia commented on #1378
[code]

I brought up a test server through:

    yarn global add graphql-faker && graphql-faker schema.graphql

Then i compared the schema against the running server:

[code]

And the other way around:

[code]

[2020-04-08 20:02] kamilkisiela commented on #106
[v1.30.1](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.30.1)

[2020-04-08 20:02] #106 closed

[2020-04-08 20:03] kamilkisiela commented on #1378
@spawnia [v1.30.1](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.30.1) could you try latest version? I checked and it works for me with GraphQL Faker

[2020-04-08 20:03] kamilkisiela commented on #1341
Could you check [v1.30.1](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.30.1)?

[2020-04-08 20:04] kamilkisiela commented on #1201
[v1.30.1](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.30.1). It's not documented yet but you're smart you'll figure it out :)

[2020-04-08 20:04] kamilkisiela commented on #1056
[v1.30.1](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.30.1)

[2020-04-08 20:04] #1056 closed

[2020-04-08 20:04] kamilkisiela commented on #1056
Let me know if it's still an issue

[2020-04-08 20:05] kamilkisiela commented on #907
[v1.30.1](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.30.1)

[2020-04-08 20:05] #907 closed

[2020-04-08 20:05] #1201 closed

[2020-04-08 21:34] bfagundez opened #1392 "CLI not working anymore. missing @graphql-inspector/commands"
The command asks for that package now:
[code]
It was working this morning.

[2020-04-08 22:20] kamilkisiela commented on #1392
Oh I broke the build... Released a new version but with a broken internal tool. Give me few minutes

[2020-04-08 22:30] kamilkisiela commented on #1392
@bfagundez try now, I released `v1.30.3`

[2020-04-08 22:43] #1392 closed

[2020-04-09 01:42] Ambro17 commented on #1341
Of course, tomorrow I will try it

[2020-04-09 05:51] nayaabkhan commented on #907
@kamilkisiela That is great! Thank you 🙇🏼‍♂️

Just wondering how I can confirm on my [test repo](https://github.com/nayaabkhan/graphql-inspector-pr-issue/pull/1/files)? I should just rerun the checks right?

![Screenshot 2020-04-09 at 11 21 11 AM](https://user-images.githubusercontent.com/234889/78862133-41eb4280-7a54-11ea-98e5-6e80fba893ed.png)

[2020-04-09 05:57] nayaabkhan commented on #907
I went ahead and re-run it, the annotation for new type is now in the right place. But the removal annotation is still misplaced:

<img width="993" alt="Screenshot 2020-04-09 at 11 24 37 AM" src="https://user-images.githubusercontent.com/234889/78862472-17e65000-7a55-11ea-8de8-05dc3d9663a7.png">

[2020-04-09 06:25] nodkz commented on #1201
It's amazing! 👍
Thanks!

If your config will contain the only list of plugins & commands. Then it can be removed completely by the following pattern:

[code]

By this pattern, you firstly check that package is installed. And if it resolved successfully then require it separately. Because the package may have runtime errors we should require it outside "try catch" block which checks module existenc

[2020-04-09 06:56] spawnia commented on #1378
Version `1.30.3` does the trick, thank you.

[2020-04-09 06:56] #1378 closed

[2020-04-09 07:49] kamilkisiela commented on #907
@nayaabkhan that's because GitHub doesn't allow to put annotations on the previous version of a file. The annotation that is assigned to line 13, it should be there, but on the `schema.graphql` from `master`.

What we need here is to change the target of each "removed" item. For example, when description of type is removed, we need to put an annotation on type. If it's a description of Type.field,

[2020-04-09 07:51] kamilkisiela opened #1400 "Adjust annotation for removed pieces of schema"
GitHub doesn't allow to put annotations on the previous version of a file. The annotation that is assigned to line 13, it should be there, but on the `schema.graphql` from `master` which we can't access.

What we need here is to change the target of each "removed" item.

For example, when description of type is removed, we need to put an annotation on type.
If it's a description of Type.field, it

[2020-04-09 07:51] kamilkisiela commented on #907
#1400 I opened an issue to track it

[2020-04-09 07:56] kamilkisiela commented on #1201
Yeah, I thought about it and wasn't sure if I to put it but I will in v1.31.0. I will remove the config for now but I want to put there something like set of commands per project. So when you run `graphql-inspector run project-a` and it checks everything related to project-a, diffing, validation etc, that was defined in the config.

[2020-04-09 07:57] kamilkisiela opened #1401 "Discover loaders and commands and make config optional"

[2020-04-09 09:48] kamilkisiela commented on #1201
[v1.30.4](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.30.4)

[2020-04-09 09:49] kamilkisiela commented on #1401
[v1.30.1](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v1.30.1)

[2020-04-09 09:49] #1401 closed

[2020-04-09 11:13] kamilkisiela commented on #707
@shavo007 can you check with. `v1.30.4` ?

[2020-04-09 15:18] nodkz commented on #1201
For such task better to use package.json scripts ;)

[code]

For now, package.json is better than `inspector.config.js`.

---

In future, `inspector.config.js` may contain additional config options & several tasks. But I think it should work like Jest config (you may provide it inside package.json under its own key, as a separate file OR as several files which can be provided via config options to

[2020-04-09 15:24] nodkz commented on #1201
@kamilkisiela why do you not use `require.resolve`?

https://github.com/kamilkisiela/graphql-inspector/commit/0c1542542f21ebe53f46c44ab4e30b6ed57094ef#r38395428

[2020-04-10 10:13] kamilkisiela commented on #1201
I did that in 20 seconds before leaving for holidays, you're right it's a better choice

[2020-04-10 14:52] Ambro17 commented on #1341
It works, the issue can be closed

[2020-04-10 18:38] ItsMrRyan opened #1415 "Error: Cannot find module 'graphql'"
Our ci/cd pipeline jobs starting throwing this on April 9th, 2020:
`Error: Cannot find module 'graphql' `

I was also able to reproduce locally on my machine with the following steps:
1. npm install --global @graphql-inspector/cli
2. graphql-inspector diff master_schema.graphqls schema-for-validation.graphqls

[code]

Any help is appreciated!  Big fan of graphql-inspector.

[2020-04-11 06:30] #1341 closed

[2020-04-11 06:33] kamilkisiela commented on #1415
You need to install `graphql` globally too. If I would include it in `dependencies`, it will collide with other `graphql` installed packages, because of `instanceof` things.

[2020-04-13 11:41] kamilkisiela opened #1421 "Allow to use GET method in Introspection and URL loader"

[2020-04-14 23:38] kamilkisiela opened #1422 "🚀 Feature requests 🚀"
Help me shape the new version of GraphQL Inspector.

I'm already working on few new features for v2.0, you can check the [Roadmap](https://github.com/kamilkisiela/graphql-inspector/issues/1371).

What would you like to see in Inspector?

[2020-04-15 01:16] mikestaub opened #1423 "Make annotations opt-out on GitHub App and Action"
I like having the checks, but the inline annotations make it hard to do code reviews. Can I disable them?

[2020-04-15 01:17] kamilkisiela opened #1424 "Support many environments"
Right now Inspector compares schemas only against a single branch (usually master).

Allow to define environments:

[code]

Implementation:
- [x] use `push` event to check the target branch
- [x] request for `push` events access
- [x] diff against the target branch
- [x] Make sure its backwards-compatible

[2020-04-15 09:19] kamilkisiela commented on #1423
Not yet but I'm working on a new version where you can decide on what GraphQL Inspector can or cannot do.

[2020-04-15 23:18] kamilkisiela commented on #1423
@mikestaub  #1425 soon to be released

[2020-04-15 23:18] kamilkisiela commented on #214
#1425 soon to be released

[2020-04-16 22:06] kamilkisiela commented on #1424
#1425

[2020-04-18 09:05] kamilkisiela opened #1430 "Endpoint as source of schema"

[2020-04-18 09:06] kamilkisiela opened #1431 "Interception of detected changes via http"

[2020-04-18 09:07] kamilkisiela opened #1432 "Managing unrelated PRs"
Pull Requests that target to branches different than those defined in configuration are controlled within `others` section. It lets you not to fail their GitHub Checks on breaking changes.

[code]

[2020-04-18 09:07] kamilkisiela commented on #1432
#1425

[2020-04-18 09:07] kamilkisiela commented on #1431
#1425

[2020-04-18 09:08] kamilkisiela commented on #1430
#1425

[2020-04-18 11:12] #1196 closed

[2020-04-18 11:13] #248 closed

[2020-04-18 11:14] #541 closed

[2020-04-18 11:15] #523 closed

[2020-04-18 11:16] kamilkisiela commented on #549
it will be possible with in next version
#1425

[2020-04-21 18:33] kamilkisiela commented on #1075
@chalichb @benjamin-rood
I think we don't even need those directives to detect changes. Could you try [`2.0.0-rc.1`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0-rc.1) ?

[2020-04-21 18:34] #1415 closed

[2020-04-21 19:53] kamilkisiela commented on #362
GraphQL Inspector uses now `assumeValid: true` when building schema

[2020-04-21 19:53] #362 closed

[2020-04-22 18:08] madiodio commented on #349
Hi @kamilkisiela, this should be highlighted in docs imo, would you welcome a PR for it ? I just wasted a big hour looking for why it was failing.

[2020-04-22 20:39] madiodio opened #1447 "[Github Marketplace App] Failing to load the source schema"
Hi there, first would like to say this is a wonderful tool.

Just tried to install the Github Marketplace but it's failing on the build with:
**Failed to complete schema check**
__ERROR: Failed to load 'schema.graphql' (ref: *)__

This seems like it cannot find the file **schema.graphql** which is weird because the file exists in the root folder.

I wonder if this is due to having multiple environ

[2020-04-23 09:18] kamilkisiela commented on #349
It's something not Inspector specific but feel free to PR it

[2020-04-23 09:27] kamilkisiela commented on #1447
@madiodio It's still experimental but I'm glad you're using it :))

`*` shows up as a branch (ref) if the target branch of the Pull Request is different than branches in `env.<env-name>.branch` but that's only used internally. It should use PR's branch and the target branch anyway. It seems like we've got a bug :(

Few questions.
1. Where do you keep `graphql-inspector.yml` file?
1. When does the

[2020-04-23 14:05] kamilkisiela commented on #1447
#1448 should fix it

[2020-04-23 15:22] madiodio commented on #1447
Ah didn't know it was experimental.

1. **graphql-inspector.yml** is inside the root .github folder as shown in the docs

2. It's interestingly working on a PR but still failing on a commit or anything on the target branches. I have 2 target branches **develop** and **master** as stated in the issues.

Thanks for reacting to this so quickly. Looking forward to contributing to this project.

[2020-04-23 15:43] kamilkisiela commented on #1447
@madiodio fix deployed, try to check now

[2020-04-23 16:41] madiodio commented on #1447
@kamilkisiela Wonderful, it works now.

[2020-04-23 16:41] #1447 closed

[2020-04-24 17:45] CyrilleFormont opened #1452 "diff issue with physical file"
Hi there,

I'm getting an issue when I run a diff with one or two physical files.

I'm introspecting my graphql api:
`graphql-inspector introspect  https://api/graphql --write c:/users/user/desktop/schema.graphql`

I'm then doing a diff:
`graphql-inspector diff  c:/users/user/schema.graphql  https://api/graphql
`

I'm getting this result:
`Unable to find any GraphQL type definitions for the follow

[2020-04-29 07:57] csplrj commented on #1075
@kamilkisiela
I am not using AWS but I need @connection for relay as mentioned in this document
https://graphql-java-kickstart.com/tools/relay/
These directives is needed to detect changes as it changes output.

I tried 2.0.0-rc.2 but the issue still remains?
Unknown directive @connection

[2020-04-29 08:20] kamilkisiela commented on #1075
@csplrj can you share more? Like in which command that happens, do you use CLI or something else?

[2020-04-29 08:50] csplrj commented on #1075
@kamilkisiela
I use cli
graphql-inspector diff <sourcePath> <targetPath>

[2020-04-29 10:27] kamilkisiela opened #1467 "Performance Tips"

[2020-04-30 16:32] #1371 closed

[2020-04-30 16:32] #1422 closed

[2020-05-05 03:02] howardhaozhang opened #1481 "Error: Directive "@deprecated" may not be used on ARGUMENT_DEFINITION."
**Describe the bug**
With the new version of graphql-inspector, I got the following error message.

[code]

**To Reproduce**
I can reproduce this issue with the following simplified schema

[code]

There is no issue with the following schema.

[code]

**Expected behavior**
[code]

**Environment:**

- OS:
- `@graphql-inspector/...`:
- `graphql`:
- NodeJS:

**Additional context**
I wonder if it is r

[2020-05-05 06:52] kamilkisiela commented on #1481
@howardhaozhang I think it's related to `graphql` itself, not Inspector,

here's a reproduction: https://stackblitz.com/edit/typescript-yxqnvj?file=index.ts

[2020-05-06 01:52] howardhaozhang commented on #1481
Kamil,
Thanks for you response. Is there an easy way for me to play your staff locally? I want to try if there is an issue with graphql version 14.0.0?
Thanks,
Hao
    On Monday, May 4, 2020, 11:53:06 PM PDT, Kamil Kisiela <notifications@github.com> wrote:

@howardhaozhang I think it's related to graphql itself, not Inspector,

here's a reproduction: https://stackblitz.com/edit/typescript-yxqnvj?f

[2020-05-06 01:58] howardhaozhang commented on #1481
Kamil,
I just figure out it show me the result immediately when I change the graphql version. It is very cool.
Thanks,
Hao
    On Tuesday, May 5, 2020, 06:52:12 PM PDT, Hao Zhang <howardhaozhang@yahoo.com> wrote:

  Kamil,
Thanks for you response. Is there an easy way for me to play your staff locally? I want to try if there is an issue with graphql version 14.0.0?
Thanks,
Hao
    On Monday, May 4

[2020-05-08 19:00] rowi1de opened #1488 "GitHub Actions: schema.graphql in subdirectory"
Hey @kamilkisiela,

not 100% sure if config bug or not supported:

**Describe the bug**
- Configure the GitHub Action to a path
[code]

**Expected behavior**
- Validation of Schema in Subpath Works

**Additional context**
[code]

[2020-05-11 14:13] kamilkisiela commented on #214
[`v2.0.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0) released. Read more about [new GraphQL Inspector](https://the-guild.dev/blog/new-graphql-inspector)

[2020-05-11 14:13] #214 closed

[2020-05-11 14:14] kamilkisiela commented on #549
[`v2.0.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0) released. Read more about [new GraphQL Inspector](https://the-guild.dev/blog/new-graphql-inspector)

[2020-05-11 14:14] #549 closed

[2020-05-11 14:14] kamilkisiela commented on #1400
[`v2.0.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0) released. Read more about [new GraphQL Inspector](https://the-guild.dev/blog/new-graphql-inspector)

[2020-05-11 14:14] #1400 closed

[2020-05-11 14:14] kamilkisiela commented on #1423
[`v2.0.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0) released. Read more about [new GraphQL Inspector](https://the-guild.dev/blog/new-graphql-inspector)

[2020-05-11 14:14] #1423 closed

[2020-05-11 14:14] kamilkisiela commented on #1424
[`v2.0.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0) released. Read more about [new GraphQL Inspector](https://the-guild.dev/blog/new-graphql-inspector)

[2020-05-11 14:14] #1424 closed

[2020-05-11 14:15] kamilkisiela commented on #1430
[`v2.0.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0) released. Read more about [new GraphQL Inspector](https://the-guild.dev/blog/new-graphql-inspector)

[2020-05-11 14:15] #1430 closed

[2020-05-11 14:15] kamilkisiela commented on #1431
[`v2.0.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0) released. Read more about [new GraphQL Inspector](https://the-guild.dev/blog/new-graphql-inspector)

[2020-05-11 14:15] #1431 closed

[2020-05-11 14:15] kamilkisiela commented on #1432
[`v2.0.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.0) released. Read more about [new GraphQL Inspector](https://the-guild.dev/blog/new-graphql-inspector)

[2020-05-11 14:15] #1432 closed

[2020-05-12 20:12] AlexMabry opened #1493 "GitHub application fails to find schema"
**Describe the bug**
The GitHub application often fails to run on the first attempt. If I re-run it, the problem goes away.

This is the error I get:

[code]

Contents of our `.github/graphql-inspector.yaml`:
[code]

**To Reproduce**
Happens on all pull requests, regardless if the schema changed or not.

**Expected behavior**
Unless the schema is actually missing, the application should always run

[2020-05-13 07:32] #1493 closed

[2020-05-13 07:33] kamilkisiela commented on #1493
@AlexMabry should be fixed now, give it few minutes to be deployed :)

[2020-05-13 08:13] kamilkisiela commented on #1488
If it doesn't work it's definitely a bug

[2020-05-13 15:40] AlexMabry commented on #1493
Thank you!

[2020-05-19 17:06] kamilkisiela commented on #707
I checked locally and it works

[2020-05-19 17:06] #707 closed

[2020-05-19 17:07] kamilkisiela commented on #1481
It should work with `v2.0`

[2020-05-19 17:07] #1481 closed

[2020-05-19 17:28] kamilkisiela commented on #1075
@csplrj [`v2.0.1`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.0.1) should fix it

[2020-05-19 17:28] #1075 closed

[2020-05-19 17:32] kamilkisiela commented on #1488
@rowi1de  Is `schema/local/schema.graphql` available on `master`?

[2020-05-19 17:39] rowi1de commented on #1488
Yes, does it work for you?

[2020-05-19 17:46] kamilkisiela commented on #1488
It does but on GitHub App, in Action the loading logic is similar so it should there too. I'm checking Action right now.

[2020-05-19 17:54] kamilkisiela commented on #1488
@rowi1de https://github.com/kamilkisiela/graphql-inspector-repro-1488/pull/1 could you create a reproduction maybe?

[2020-05-19 17:57] kamilkisiela commented on #1452
@CyrilleFormont You wrote to `c:/users/user/desktop/schema.graphql` but requested `c:/users/user/schema.graphql` in diff

[2020-05-19 17:58] kamilkisiela commented on #1452
@mention me if it's still an issue

[2020-05-19 17:58] #1452 closed

[2020-05-19 18:06] rowi1de commented on #1488
https://github.com/kamilkisiela/graphql-inspector-repro-1488/pull/2/checks?check_run_id=690068801 doesn't seem to work on "pull_request" event.
That's also the difference to my use case

[2020-05-19 18:23] rowi1de commented on #1488
Switched to "push" trigger and getting the same
`##[error]Failed to load 'schema/local/schema.graphql' (ref: master)`

[code]

[2020-05-19 18:25] kamilkisiela commented on #1488
@rowi1de could you create another PR but this time without any changes to workflow config?

[2020-05-19 18:28] kamilkisiela commented on #1488
@rowi1de it works on `pull_request` but within the same origin https://github.com/kamilkisiela/graphql-inspector-repro-1488/pull/3/checks, we will see if it works with forks

[2020-05-19 18:34] rowi1de commented on #1488
The only difference I see it that I'm using a private repo inside an Organisation. Actions don't run on forks

[2020-05-19 18:48] rowi1de commented on #1488
Also works in a private repo https://github.com/rowi1de/graphql-private/pull/1/

[2020-05-19 19:07] kamilkisiela commented on #1488
I think it doesn't work only if there's a change in one of the Workflows, because of security reasons. Regular PR with changes, from a fork, should work.

[2020-05-19 19:47] rowi1de commented on #1488
Can you add some debug logging between or around these steps?
[code]

[2020-05-29 13:50] rowi1de commented on #1488
@kamilkisiela ?

[2020-06-02 20:43] wjustice opened #1538 "Error using documents glob pattern via cli"
**Describe the bug**
When running `coverage` using `@graphql-inspector/cli` the documents glob pattern errors out. I'm hoping I am just making a dumb mistake here, any help is greatly appreciated.

Command:
[code]
Error:
[code]

**However**, running the command with a specific file path prints the expected coverage output:
[code]

I have also tried to write a command in `package.json` scripts (not

[2020-06-03 17:02] saerdnaer opened #1541 "Big schemas (>65535 chars) fail to validate"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

create a schema file which is bigger than 65535 chars

**Expected behavior**

Schema validates.

**Environment:**

- OS:
- `@graphql-inspector/cli@master` via GitHub Action

[2020-07-03 12:46] saerdnaer commented on #1541
Similar error from today:
[code]

[2020-07-09 02:05] danielrearden commented on #1538
@wjustice I can't seem to reproduce this issue locally. Would you be able to create a minimal repo that shows the behavior you're seeing?

[2020-07-09 02:18] danielrearden commented on #1541
This looks like its failing at `octokit.checks.update`, presumably because GitHub applies a limit to the size of the `summary` and `text` values inside the `output` object.

[2020-07-11 16:00] saerdnaer opened #1592 "Syntax Error: "Unexpected .""
I get the error `ERROR: Syntax Error: Unexpected .` without really understanding why… and what this error message wants to tell me.

* Config: https://github.com/voc/voctoweb/blob/master/.github/graphql-inspector.yaml
* Error: https://github.com/voc/voctoweb/runs/861142294

[2020-07-14 23:53] danielrearden commented on #1592
@saerdnaer It looks like the schema file you're pointing to is empty?

[2020-07-23 06:33] wzoom commented on #758
Does it have some resolution?

[2020-07-23 07:40] wzoom opened #1604 "Coverage fails on ES module imports in TS files"
**Describe the bug**

Trying to run CLI coverage on TS codebase reports "Cannot use import statement outside a module" although TS is supported [according to docs](https://graphql-inspector.com/docs/api/documents#javascript-and-typescript-files).

**To Reproduce**

[code]
All the TS files use standard ES2015 import syntax:
e.g. `import convertAppFromApi from './convertAppFromApi';`

**Expected beh

[2020-07-24 04:45] sscotth commented on #758
@wzoom it used to work. Can you copy-paste your console?

[2020-07-24 05:57] sscotth opened #1608 "Support @client @export apollo directive"
**Describe the bug**

Does not handle [@client @export directive](https://github.com/apollographql/apollo-client/blob/master/docs/source/local-state/managing-state-with-field-policies.mdx#using-local-only-fields-as-graphql-variables)

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

Also nested:

[code]

**Expected behavior**

Example text case:

[code]

**Environment:**

- OS: m

[2020-07-28 17:18] yuhanz opened #1614 "Doesn't work with federated schema"
Try this schema with graphql federation:
https://github.com/apollographql/federation-jvm/blob/master/spring-example/src/main/resources/schemas/inventory.graphql

`graphql-inspector diff /tmp/inventory.graphql /tmp/inventory.graphql`

[code]

graphq-inspector version 2.1.0

[2020-07-30 01:02] danielrearden commented on #1608
Hi @sscotth. Thanks for submitting an issue and for the example test case!

Unfortunately, I can't seem to reproduce the issue.  The above test actually passes for me. We strip any `@client` fields from the document before validating it. That includes nested exported fields as long as the parent field still has `@client` on it. The only way I can reproduce the issue is by omitting the `apollo` par

[2020-07-30 01:02] #1608 closed

[2020-08-04 21:51] tylercrumpton commented on #325
I'll second this request! We've run into this fairly frequently, with the same circumstances that @dchambers described. We would love to see it compare the merged/rebased commit against the defined schema instead of comparing the tip of the branch against the defined schema.

[2020-08-26 16:21] jinhong- commented on #1614
I am also looking at this right now. Most likely a PR can be submitted, similar to PR #505? The specifications for federated schema is [here](https://www.apollographql.com/docs/apollo-server/federation/federation-spec/#federation-schema-specification). Looks straightfoward enough to add more directives by modifying the ```extendSchema``` function. @kamilkisiela are you accepting PRs for this?

[2020-08-26 16:53] kamilkisiela commented on #1614
YES :) I would do it anyway but you're probably going to make it sooner than me :)

[2020-08-27 14:06] jinhong- commented on #1614
Submitted #1661. Probably need some suggestions on how to improve the code. I realized that the validation errors come from loading the schema. I merged the federation schema in as the schema is getting loaded

[2020-08-31 11:18] teamstand-arun opened #1666 "Missing options in non-global-installed CLI"
**Describe the bug**

Hi, we are looking to use graphql-inspector CLI here. I see that the CLI installed with npm/yarn with --global differs in behaviour compared to the non-global couterparts.

**To Reproduce**
Steps to reproduce the behavior:
CLI with --global installation runs fine with --rule option:
graphql-inspector diff 'git:origin/master:./generated-sources/schema.graphql' './generated-sou

[2020-08-31 13:12] teamstand-arun opened #1667 "GraphQL URL is changed on graphql-inspector introspect"
changes the URL to
FetchError: request to http://arun**.http**:8020/graphql-public-schema failed, reason: getaddrinfo ENOTFOUND **arun.http**

**To Reproduce**
Somehow the pattern ".ws:" is replaced to ".http:" as can be seen from the trace
FetchError: request to http://arun.http:8020/graphql-public-schema failed, reason: getaddrinfo ENOTFOUND arun.http
    at ClientRequest.<anonymous> (/tools/nod

[2020-08-31 13:18] teamstand-arun commented on #1667
Running it from the  binary installed in node_modules works though:

./node_modules/.bin/graphql-inspector introspect "http://arun.ws:8020/graphql-public-schema"
success Saved to ....

[2020-09-02 15:17] kamilkisiela commented on #1667
Seems like you're running two different graphql-inspector libraries, one global, one local.

Those two are at the same version?

[2020-09-02 15:19] kamilkisiela commented on #1666
There's something wrong going on here. Both should accept `--rule`.

Can you run `graphql-inspector diff` in npm script instead of `./node_modules/.bin/graphql-inspector` and are you sure those two are on same version?

[2020-09-02 19:48] kamilkisiela commented on #325
sounds reasonable, I will work on a solution then :)

[2020-09-02 20:09] kamilkisiela commented on #1667
An issue with ardatan/graphql-tools#1990
I fixed it in ardatan/graphql-tools#1991

[2020-09-02 20:11] kamilkisiela commented on #1667
Track #1674

[2020-09-02 21:09] kamilkisiela commented on #1592
#1677 improves a bit the error message

[2020-09-03 03:50] teamstand-arun commented on #1666
Figured that the version of the global installed package and the local installation were different. Thanks for checking. This should be fine now. Closing

Arun.

[2020-09-03 03:50] #1666 closed

[2020-09-09 14:39] tylercrumpton commented on #325
Wonderful, thanks!

[2020-09-10 16:36] kamilkisiela commented on #325
Should be ready soon :)

[2020-09-10 16:47] kamilkisiela commented on #325
I will try to use https://docs.github.com/en/rest/reference/repos#compare-two-commits and somehow apply the patch, then compare. If there are conflicts, Inspector will fail the ci check and notify about it.

[2020-09-11 11:27] kamilkisiela commented on #325
@tylercrumpton  @wopian @euvl @dchambers good news :)

https://github.com/kamilkisiela/graphql-inspector/pull/1692

This way on every pull request we get the schema from `refs/pull/PR_NUMBER/merge` which means it's merged with the target branch. Your scenario should be solved by that change.

[2020-09-11 12:52] kamilkisiela commented on #1667
@teamstand-arun GraphQL Tools [v6.2.1](https://github.com/ardatan/graphql-tools/releases/tag/v6.2.1) is not out, please upgrade `@graphql-tools/*` dependencies (maybe even in your yarn.lock or package-lock.json file)

[2020-09-11 12:52] #1667 closed

[2020-09-11 14:01] wopian commented on #325
@kamilkisiela is this also available in the GitHub Action?

[2020-09-11 14:03] kamilkisiela commented on #325
@wopian not yet but I'm working on it now

[2020-09-11 14:56] kamilkisiela commented on #325
@wopian done, use `master` and try to run Inspector Action on `pull_request` event, when it's on `push` it won't get a PR number. I would recommend to use `pull_request` on PRs and `push` for `master` branch or something like that.

[2020-09-11 14:56] #325 closed

[2020-09-11 14:56] kamilkisiela commented on #325
Feedback welcome!

[2020-09-11 19:57] kadirselcuk commented on #549
Is the GraphQL inspector endpoint github actions made call here

[2020-09-11 20:36] tylercrumpton commented on #325
Thanks so much! I'll go give it a shot!

[2020-09-11 21:45] tylercrumpton commented on #325
Looks like it's working perfectly! We'll keep that flag turned on in our repo and see how that goes! Thanks, again!

[2020-09-12 17:57] wopian commented on #325
@kamilkisiela thank you! Will add this to my TODO list, this and something on our end ended up making me postpone adding it to our actions at the time.

[2020-09-28 10:49] Jastrzebowski commented on #1614
I saw the PR was merged, @kamilkisiela any idea when it will be released, docs mentioning [`--federation`](https://graphql-inspector.com/docs/essentials/serve) are already published.

[2020-09-28 19:15] kadirselcuk commented on #12
Can I reach the CI v3 api here?

[2020-09-30 15:13] Ezard opened #1716 "GitHub Application occasionally fails to load schema"
**Describe the bug**

I have a bot set up to automatically keep my dependencies up-to-date, and the GraphQL Inspector GitHub Application runs on each of these PRs. There seems to be about a 1 in 20 chance that GraphQL Inspector will fail saying "ERROR: Failed to load 'schema.graphql'". I've never seen the issue on one of my own PRs, but then again the bot generates a huge amount more than me :)

T

[2020-09-30 17:17] kamilkisiela commented on #1716
@Ezard could you tell me what's the name of your repository that you see the issue (PM me if it's a secret) and when it happened. I will try to track it down in logs.

[2020-09-30 17:21] kamilkisiela commented on #1716
OK I think I see it, based on your GitHub profile. Could you check if there's a `schema.graphql` file in `renovate/xxx` branch? It works for other repositories, those with renovate so maybe there's something in your renovate config. Maybe it does not do a rebase or something.

[2020-09-30 17:39] Ezard commented on #1716
@kamilkisiela I just restored the `renovate/typeorm-0.x` branch (since the checked failed on that PR), and the schema.graphql file is there, yep
The commit hash where the check failed was `2b4c732` if that helps

Here's my Renovate config in case anything looks amiss, but I don't think it could cause issues:
[code]

[2020-10-07 16:20] simoneBrancati opened #1728 "AWS Appsync types support"
Is there a possibility to support AWS types that can be used with AWS Appsync?

AWS types are:

- AWSDate
- AWSTime
- AWSDateTime
- AWSTimestamp
- AWSEmail
- AWSJSON
- AWSURL
- AWSPhone
- AWSIPAddress

Current error:

 `Type "AWSJSON" not found in document.`

[2020-10-13 09:28] scripter-co commented on #1614
@kamilkisiela do you have an update on when you're thinking about publishing the federation changes?

[2020-10-26 10:26] kamilkisiela commented on #1614
Ok, released `2.3.0`

[2020-10-26 10:26] #1614 closed

[2020-10-26 21:40] israelconesa opened #1768 "Error when running introspection result"
**Describe the bug**

Firstly, thanks very much for this great tool!. I'm using it to extract a schema and run a diff when developers push changes. I have wo api's/endpoints working but on another api, it throws this error:

`Error: Could not obtain introspection result, received: _"<schema in json format>"_
at getSchemaFromIntrospection (/usr/local/lib/node_modules/@graphql-inspector/cli/node_mod

[2020-10-26 21:49] israelconesa commented on #1768
I've just reviewed the error again and it points at [https://github.com/ardatan/graphql-tools/blob/f826e079aefdc14a43662eac9a52ad35e9877fba/packages/wrap/src/introspect.ts](url)

[2020-10-27 08:24] kamilkisiela commented on #1768
I tried to reproduce it in cdc7d3b9ebaba9bd30bdf708d1d369402287d895

[2020-10-27 08:25] kamilkisiela commented on #1768
Maybe you have an invalid apiKey, the server responds with an error and GraphQL Tools can't interpret the response.

[2020-10-27 08:33] israelconesa commented on #1768
Thanks @kamilkisiela , I'll take a second look at the apikey but it is almost a constant and used on other api's as well. If that was the case, why would it return the schema (as json) in the output?

[2020-10-27 08:37] kamilkisiela commented on #1768
hmmm because it [throws this exception](https://github.com/ardatan/graphql-tools/blob/f826e079aefdc14a43662eac9a52ad35e9877fba/packages/wrap/src/introspect.ts#L26) and is [false on first if statement](https://github.com/ardatan/graphql-tools/blob/f826e079aefdc14a43662eac9a52ad35e9877fba/packages/wrap/src/introspect.ts#L16)

[2020-10-27 08:39] kamilkisiela commented on #1768
@israelconesa maybe you could share with me the `introspectionResult`? Just a shape of the object with very minimal data so I would know how it looks like, if it has `data` property etc.

[2020-10-27 08:46] israelconesa commented on #1768
This is what I can share (top of the json object)...
`{
    "data": {
        "__schema": {
            "queryType": {
                "name": "UserQuery"
            },
            "mutationType": {
                "name": "UserMutator"
            },
            "subscriptionType": null,
            "types": [{
                    "kind": "SCALAR",
                    "name": "String",

[2020-10-27 08:54] israelconesa commented on #1768
Forgot to mention that I tried a separate tool (get-graphql-schema) and it worked:

`get-graphql-schema -h 'apikey=<same_key>' <same_endpoint_url> > schema.graphql`

[2020-10-27 09:06] israelconesa commented on #1768
Clutching straws: Escaping? I found this in the object `\\\` and `\\n`

[2020-10-27 20:32] BlueHotDog opened #1769 "GitHub Action doesn't work with introspection result"
While trying to run the github action like so:
[code]
I get the following error:
[code]

While running locally using same files via the cli, no errors and everything works.

**To Reproduce**
Not sure how i can help

**Expected behavior**

No errors

**Environment:**

- OS: Ubuntu latest
- `@graphql-inspector/...`: Master
- `graphql`:  Absinthe
- NodeJS: Not relevant

**Additional context**

[2020-11-06 10:32] kamilkisiela commented on #1768
Hmm, it's super hard for me to fix it because I can't reproduce it

[2020-11-06 10:46] kamilkisiela commented on #1769
GitHub Action doesn't support introspection result as a source of schema but I'm working to enable that.

[2020-11-06 13:04] israelconesa commented on #1768
Yes, sorry, there isn't much that I can give you. I can't see how it fails https://github.com/ardatan/graphql-tools/blob/f826e079aefdc14a43662eac9a52ad35e9877fba/packages/wrap/src/introspect.ts#L16 when the output shows that the object has `{\"data\":{\"__schema\":{\"queryType\":{\"name\":\"UserQuery\"},\"mutationType\":...`.

Could it be a parsing error on [introspectSchemaSync](https://github.co

[2020-11-06 13:05] kamilkisiela commented on #1541
@saerdnaer You can use `summaryLimit` now.

[2020-11-06 13:05] #1541 closed

[2020-11-06 18:18] kamilkisiela commented on #1592
#1777 now it should at least give you a clue at which point it failed and at what source of schema.

[2020-11-06 18:18] #1592 closed

[2020-11-12 14:51] gabsima-nexapp opened #1789 "ObjectTypeDefinition to InterfaceTypeDefinition creates error event if the fields are the same"
**Describe the bug**

An error occurs when generating diff between 2 schema when a response changes from an ObjectTypeDefinition to an InterfaceTypeDefinition event if both response contains the exact same fields. The graphql query we made before and after the change on this response worked as expected. This should not be an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a s

[2020-12-07 01:38] ifndefdeadmau5 opened #1804 "command not found: graphql-inspector"
**Describe the bug**

after installing `@graphql-inspector/introspect-command` in dev dependencies, command `graphql-inspector`doesn't work with saying it's not found. I looked for it under ./bin but there wasn't any executable binary for it
**To Reproduce**
Steps to reproduce the behavior:
install `@graphql-inspector/introspect-command@2.3.0`
**Expected behavior**
able to run introspect command p

[2020-12-07 18:50] kamilkisiela commented on #1804
@ifndefdeadmau5 `instrospect-command` provides `graphql-inspector introspect` command, that's true but you also need to add the `@graphql-inspector/ci` package to define `graphql-inspector` command.

You can also use `@graphql-inspector/cli` that includes all the commands.

[2020-12-07 18:51] #1804 closed

[2020-12-08 17:53] aleccool213 opened #1806 "Github Action fails when using endpoint + annotations"
**Describe the bug**

Tried a few different versions and found that when I ran this github action with `annotations: true`, it fails.

**To Reproduce**

1. Run this github action:

[code]

2. Get this output

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-inspector/...`:
- `graphql`:
- NodeJS:

**Additional context**

[2020-12-11 09:34] razalyalhafiz commented on #1538
I am facing a somewhat similar issue but when running `diff`.

**Command**
[code]

**Error**
[code]

Similarly mentioned by @wjustice, I do not get the error when diffing a single file at a specific filepath. Error occurs when using the glob pattern.

Unsure if this issue is related, but would definitely appreciate any help.

[2020-12-16 07:26] damienpontifex commented on #1728
I was also tracking this and was merged with #1793 but yet to be released. It took me a while to find out why the `--aws` flag wasn't available as it's mentioned in the docs like at https://graphql-inspector.com/docs/essentials/validate. I'll watch for the next release and it's availability then

[2020-12-16 08:33] kamilkisiela commented on #1538
@razalyalhafiz Hi, Git loader doesn't support loading multiple files, could you open an issue in GraphQL Tools repository? http://github.com/ardatan/graphql-tools/issues/new

[2020-12-16 08:33] #1538 closed

[2021-01-05 18:53] tbrannam opened #1813 "Github Action #approved-breaking-change-label"
Is there a similar path to allow for using labels to [allow for a breaking change via Tags ](https://graphql-inspector.com/docs/products/github#approved-breaking-change-label) when using the GitHub action, similar to the Github Application?

[2021-01-05 20:19] schie opened #1814 "Cannot find module '@graphql-inspector/graphql-cli-common' in `@graphql-cli/diff`"
**Describe the bug**

Error when trying to generate code w/ graphql-cli

**To Reproduce**
Steps to reproduce the behavior:

1. create a new project that uses `GraphQL-CLI`
2. run the added script `graphql:codegen`
3. get the following error

[code]

**Expected behavior**

I expect an error to not be thrown and for it do generate code.

**Environment:**

- OS: Mac OS 11.1
- `@graphql-cli/diff`
- `g

[2021-01-18 14:53] kamilkisiela commented on #1813
Not yet :(

[2021-01-21 13:08] renovate[bot] opened #1822 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:21] #1822 closed

[2021-01-22 06:12] tbrannam opened #1823 "Multiple Github Actions"
**Describe the bug**

In a repository with multiple schemas defined (multiple projects, services, etc) - multiple schemas are being evaluated.

If there are changes in the first schema check - and no changes in the subsequent ones - the report is overwritten and no differences will be reported to the Github actions UI.

**To Reproduce**
Steps to reproduce the behavior:

- In a Repository with seve

[2021-01-22 06:56] tbrannam commented on #1823
Same result seems to occur with multiple workflows.

[2021-01-22 07:43] tbrannam commented on #1823
Looks like adding ‘name’ to the with block addresses the problem.   I didn’t see it in the docs.   By default the report is tied to the same default name.

[2021-01-22 07:43] #1823 closed

[2021-01-22 16:18] Urigo commented on #1823
@tbrannam thanks for all the details, would you mind creating a PR to make the docs clearer?

[2021-01-22 16:47] tbrannam commented on #1823
@Urigo Looks like I was looking at the wrong documentation last night.  The docs clearly call this out as well as how to solve it.... https://graphql-inspector.com/docs/products/action#name

Thanks!

[2021-01-26 11:12] kamilkisiela opened #1825 "GitHub App - Fails to load schema on target branch after PR is merged"
https://github.com/mirumee/saleor/commits/master

[2021-01-27 03:16] mfrancaleal commented on #1488
I have the same problem. I tried  schema: `master:schema/local/schema.graphql` but don't work.

This is my code:

`
name: Laravel Workflows
on: push

jobs:
  build:
    name: Laravel/GraphQl Build
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@master
      - uses: ./.github/actions/composer
      - uses: ./.github/actions/config-laravel
      - run: ./vendor/bin/phpunit

[2021-01-27 15:06] mfrancaleal commented on #1488
I solved. The name of my branch is **main** not **master**.

[2021-01-28 17:02] slagiewka commented on #1814
I am playing with `graphql-cli` and came across the same issue.

Adding that dependency manually to my project made it work, but this is definitely not the way to go.

[2021-02-09 09:53] tvvignesh opened #1832 "Cannot find module 'vs/editor/contrib/rename/onTypeRename' when trying to run graphql-inspector website locally"
**Describe the bug**

I was trying to run the `graphql-inspector` website locally by doing `yarn --ignore-engines --ignore-optional` in both root and website dirs followed by `yarn now-build` and `yarn start` and I got this error when the website is trying to start:

<img width="557" alt="4" src="https://user-images.githubusercontent.com/1165845/107346202-73a4be00-6aea-11eb-804e-0c632edd9442.PNG">

[2021-02-14 09:28] #1832 closed

[2021-02-16 09:10] Betree opened #1840 "Github action fails with "No more than 50 items are allowed""
**Describe the bug**
I'm working on an important [refactor PR](https://github.com/opencollective/opencollective-api/pull/5204) where many fields have been removed. The GraphQL Inspector action is [failing to report](https://github.com/opencollective/opencollective-api/pull/5204/checks?check_run_id=1909267732) errors. Here are the job logs:

[code]

**To Reproduce**
Have a pull request with more th

[2021-02-16 09:42] kamilkisiela commented on #1728
[`v2.4.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.4.0)

[2021-02-16 09:42] #1728 closed

[2021-02-16 09:42] kamilkisiela commented on #1421
[`v2.4.0`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.4.0)

[2021-02-16 09:42] #1421 closed

[2021-02-16 09:59] kamilkisiela commented on #1840
@Betree #1843 :)

[2021-02-16 10:01] kamilkisiela commented on #1840
Please use `master` as a version for now, I will release v2.5.0 in two weeks from now.

[2021-02-16 10:19] #1840 closed

[2021-02-16 10:44] Betree commented on #1840
@kamilkisiela Wow thanks for the quick fix! As a future enhancement, it's possible to add more annotations:

But that definitely solves the problem on our side :+1:

[2021-02-16 10:46] kamilkisiela commented on #1840
Yeah, I'm doing it in GitHub App, it splits annotations into chunks and sends multiple requests. I will create a new issue for it.

[2021-02-16 10:48] kamilkisiela opened #1844 "Action: Split annotations into chunks and send multiple requests"
Continue https://github.com/kamilkisiela/graphql-inspector/issues/1840#issuecomment-779753037

Implement a similar logic to what we have in GitHub Application already.

[2021-02-16 10:48] kamilkisiela commented on #1840
#1844

[2021-02-19 13:19] marcust opened #1848 "Github Application: Support multiple .graphqls files with extend types"
**Is your feature request related to a problem? Please describe.**

I am living in the Java Spring Boot corner of GraphQL, a common pattern in schema first development is to split up the schema in multiple `.graphqls` files (e.g. per domain) and also heavily use `extend type`.

This does not seem to work with the Github Action and Application which requires a single file for the `schema` property.

[2021-03-11 11:56] kamilkisiela commented on #1813
https://github.com/kamilkisiela/graphql-inspector/pull/1852

[2021-03-11 11:56] #1813 closed

[2021-03-11 13:49] kamilkisiela commented on #1844
#1854

[2021-03-11 13:49] #1844 closed

[2021-03-11 13:50] kamilkisiela commented on #1844
@Betree

[2021-03-11 13:50] kamilkisiela commented on #1844
@RobinDaugherty

[2021-03-22 11:44] leethree commented on #1804
There's no mention of `@graphql-inspector/ci` in the "Continuous Integration" documentation. https://graphql-inspector.com/docs/products/ci

[2021-03-22 23:13] marocchino opened #1860 "Permission issue on github action"
**Describe the bug**

GitHub does not allow incognito access as a pull request from a forked repo is considered dangerous.
If GitHub tokens are not obtained from secret, actions that can be performed with read privileges become possible.

**To Reproduce**
Steps to reproduce the behavior:

pull request.

**Expected behavior**

**Environment:**

- OS:
- `@graphql-inspector/...`:
- `graphql`:
- NodeJ

[2021-03-23 15:25] #1860 closed

[2021-03-24 11:21] Urigo commented on #1804
@leethree would you be willing to create a PR for the docs to add it in the right place?
Thanks!

[2021-03-24 14:27] leethree commented on #1804
@Urigo sure. here it is: https://github.com/kamilkisiela/graphql-inspector/pull/1862

feel free to edit the wording.

[2021-04-09 14:22] ossinkine opened #1898 "Adding a new value to enum breaks BC"
**Describe the bug**

First of all thanks a lot for a great tool, it's really makes my life easier.
My team faced with the following question: adding a new value to enum breaks BC or not?
At first glance, it seems that this is like adding a new field to the type, does not break backward compatibility.
But then we came to the conclusion that an enum with a new value is actually a different enum, an

[2021-04-10 08:45] nemonemi commented on #54
Hello guys!
I see this is still opened. Any progress on this issue?
What is left to be done?

[2021-04-12 11:55] kamilkisiela commented on #54
You can use the CLI in Bitbucket but there's no integration similar to what our Github Application offers. No progress on this one as we don't see huge demand (more likely to integrate Azure DevOps). Feel free to pick it up :)

[2021-04-13 08:41] kamilkisiela commented on #1898
Thanks for reaching out ❤️
I agree it's breaking but only in some specific scenarios and in a similar way as when adding a member to a union.

https://github.com/kamilkisiela/graphql-inspector/blob/9cbf9722134c863d7ebe58677b83930094797848/packages/core/src/diff/changes/union.ts#L20-L34

https://github.com/kamilkisiela/graphql-inspector/blob/9cbf9722134c863d7ebe58677b83930094797848/packages/core/sr

[2021-04-13 08:48] kamilkisiela commented on #1898
If you want to make it breaking you can write your own rule https://graphql-inspector.com/docs/essentials/diff#custom-rules

[2021-04-13 09:01] kamilkisiela commented on #1898
ok, I added a new rule so you don't have to :)

https://github.com/kamilkisiela/graphql-inspector/pull/1899

[2021-04-14 13:59] Rexman17 opened #1901 "Adding mutation creates a "breaking change""
**Describe the bug**

- added a `Mutation` to my schema which resulted in the error "Breaking changes
Schema mutation root has changed from unknown to Mutation"

**To Reproduce**
Steps to reproduce the behavior: Can't link my PR since it's a private repo

**Expected behavior**

- Expect no errors

**Environment:**

- OS:
- `@graphql-inspector/...`:
- `graphql`:
- NodeJS:

**Additional context**

!

[2021-04-19 13:14] joeynimu opened #1909 "Passing different headers in different urls/schemas"
Hey guys,

First and foremost, thanks for the amazing work you do in and around the graphql community.

I recently stumbled upon and need to pass different headers in different URLs when using graphql-inspector. I currently have two schemas that I'd like to do a `diff` on, and they both require authentication. One is in a staging environment, and the other is in a production environment. But curre

[2021-04-19 13:50] tvvignesh commented on #1909
Hi @joeynimu Thanks for this. We have taken this up internally. Have [started working on a fix](https://gist.github.com/tvvignesh/19e540d0211c1a3b88f08c0f59aed54b) - Will update you when we verify the same 👍

[2021-04-19 14:07] joeynimu commented on #1909
Hi @tvvignesh

Awesome!

[2021-04-22 13:54] #1909 closed

[2021-04-27 08:08] joeynimu commented on #1909
Thanks for this. Is already release?

[2021-04-27 14:50] tvvignesh commented on #1909
@joeynimu Hi. Not released yet.

@kamilkisiela ^^

[2021-04-29 12:09] ruudk opened #1934 "`Something is wrong with your schema` when PR is behind `main` branch that changed schema"
**Describe the bug**

I'm using GraphQL Inspector in GitHub Actions and it's really a life saver 👏

But there is 1 annoying thing.

When your PR is not up to date with `main` (it's behind) and `main` changed the GraphQL schema, the PR gets an error: `Something is wrong with your schema`.

I believe this is because the diff is not smart enough. It sees changes between current PR and `main` schema,

[2021-04-30 18:01] thawsitt opened #1937 "Inspector Docs page in dark mode has very low contrast ratio -- hard to see commands"
Summary: It is hard to see code commands in [docs page](https://graphql-inspector.com/docs/essentials/validate) in dark mode. No way to switch back to light mode.

**To Reproduce**
- Go to https://graphql-inspector.com/docs/essentials/validate
- Check "Documents" and "Schema" code blocks. It is very hard to see blue text against grey background. Similar issue can be seen in other pages. See screen

[2021-05-07 20:45] thawsitt opened #1944 "Using Programatic API to validate documents (along with graphQL Tools)"
My use-case is to use GraphQL Tools + GraphQL Inspector to:

1. Merge remote schema and client schema
2. Validate client graphQL documents against the merged schema

For step-1, I followed the GraphQL Tools guide [here](https://www.graphql-tools.com/docs/schema-merging) and it worked fine.

However, I ran into some trouble in step-2 with providing **sources** to `validate` function from '@graphql-

[2021-05-08 01:02] dengliu opened #1947 "Validate for schema that is composed by multiple .graphql files"
**Is your feature request related to a problem? Please describe.**

Does graphql-inspector support validating schema that is composed by multiple .graphql files?

**Describe the solution you'd like**

would like a the CLI tool to take in a config file like yaml, where we can specify schema that is composed by multiple .graphql files
E.g.
[code]

input.yaml could be something like
[code]
**Describe

[2021-05-12 15:50] Urigo commented on #1944
@thawsitt thank you for the update!
Would you be willing to create a PR to the docs to help others who follow the same path?
Thanks!

[2021-05-12 16:19] kamilkisiela commented on #1947
@dengliu Hi :) I think we support glob patterns already so you're able to use `*.graphql` as an input for old and new schema. Does it work for you?

In case you need to define a list of files you can do `{a,b,c}.graphql`.

I like your approach so if you think it's better to have a list of files in some kind of config, I'm happy to assist you and help creating a Pull Request

[2021-05-12 18:22] thawsitt commented on #1944
Sure! I'll submit a PR for docs.

[2021-05-13 02:17] thawsitt commented on #1937
The issue seems to be fixed now by these commits:

- c44309f46809918f8a64b8b056792fd282d746dd
- c44309f46809918f8a64b8b056792fd282d746dd

Thanks @kamilkisiela! ❤️

[2021-05-13 02:17] #1937 closed

[2021-05-13 02:23] thawsitt commented on #1947
You can also try merging the schemas first using [@graphql-tools/merge](https://www.npmjs.com/package/@graphql-tools/merge).

Docs: https://www.graphql-tools.com/docs/schema-merging

[2021-05-13 07:20] kamilkisiela commented on #1937
:)

[2021-05-14 07:56] #1944 closed

[2021-05-14 07:57] kamilkisiela commented on #1934
Hi, you can use `experimental_merge`flag:
https://github.com/kamilkisiela/graphql-inspector/blob/3b6dae3311f82c1edb7e3ccdf6ef15396a768bc4/action.yml#L34-L39

[2021-05-14 07:58] kamilkisiela commented on #1934
Let me know if it fixes your issue

[2021-05-14 08:07] kamilkisiela commented on #1901
Couldn't reproduce it https://github.com/kamilkisiela/graphql-inspector/commit/ff7c0e5d5a239d6ed88db885c982a67d64e7d416, can you share more details?

[2021-05-14 08:17] ruudk commented on #1934
I'll test it out. Will take some time, as I can only tell when the schema in `main` changes if it works or not.

[2021-05-20 22:00] binary64 opened #1958 "Microsoft JScript compilation error"
**Describe the bug**

Running `npx @graphql-inspector/cli` causes a popup from Windows:

![image](https://user-images.githubusercontent.com/1680627/119053576-2922bf80-b9be-11eb-9cb9-2207c1e3b4e4.png)

[code]

**To Reproduce**
Steps to reproduce the behavior:
Run `npx @graphql-inspector/cli` on windows bash

**Expected behavior**

A nice welcome help screen saying welcome to GraphQL Inspector and s

[2021-05-22 17:11] binary64 opened #1961 "require() of ES modules is not supported."
**Describe the bug**

I'm getting this on my pipeline
[code]

**To Reproduce**
Steps to reproduce the behavior:

Using `image: node:14-buster` on a bitbucket-pipelines.yml

**Expected behavior**

Add engines key to package and/or list minimum requirements on README

**Environment:**

- OS: `image: node:14-buster` on Bitbucket
- `@graphql-inspector/...`: I can get the rest if requested
- `graphql`:

[2021-05-24 05:27] zoripong commented on #1961
I have this issue too.
Downgrading @graphql-inspector/cli to 2.5.0 fixed it for me.

[2021-05-25 22:35] StarpTech opened #1962 "Extend schema coverage report"
**Is your feature request related to a problem? Please describe.**

Schema coverage report should cover the usage of query arguments and mutation return types.

[2021-05-26 09:07] EpicDrakkar commented on #1961
Same issue here

[2021-05-27 14:53] kamilkisiela commented on #1961
[`v2.6.1`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.6.1) should fix it

[2021-05-27 21:44] mgrijalva opened #1964 "2.6.x not sending headers"
**Describe the bug**

Our version of graphql-inspector that we use during CI was not pinned, when it upgraded to latest (2.6.x) the custom header we set was no longer being sent in the request.

**To Reproduce**
Steps to reproduce the behavior:

Our server requires a special "introspection" cookie (as introspection is disabled by default):
[code]
We checked server logs and the custom Cookie header

[2021-05-27 21:58] siawyoung commented on #1964
I think the issue is here:

https://github.com/kamilkisiela/graphql-inspector/compare/v2.5.0...v2.6.1#diff-c7f995eda48a992dab753a0f8236b5cea24c1fa96176e4730706bb6ec90bd355R133-R134

[code]

Empty records are not falsy.

[2021-05-28 15:06] kamilkisiela commented on #1964
[`7447e16`](https://github.com/kamilkisiela/graphql-inspector/commit/7447e163f8eed682cd38a33cc510890009748cc0) should fix it

[2021-05-28 15:23] kamilkisiela commented on #1964
[`v2.6.2`](https://github.com/kamilkisiela/graphql-inspector/releases/tag/v2.6.2)

[2021-05-31 16:07] #1964 closed

[2021-06-01 09:47] Urigo commented on #1962
That's a great idea @StarpTech , would you help us implement it?

Maybe we can start with a test demonstrating this feature?

[2021-07-09 20:48] vincebrown opened #1971 "Expected Breaking Change label not working"
**Describe the bug**

After adding the expected breaking change label the check is still failing on an open pr. During original implementation of the action in the repo I had tested this and it was working as expected. The only thing that has changed is after I merged the action we made it a required check on open PRs

**Expected behavior**
When a breaking change is introduced and the PR has the e

[2021-07-12 12:02] alan-cooney commented on #1971
It doesn't seem to work if you add the label and then re-run the PR requests, but it does work if you merge that PR into master

[2021-07-12 13:48] vincebrown commented on #1971
@alan-cooney you were able to re-produce ? And yes from my testing adding the label and re-running the jobs has no impact it still fails. We are using kodiak to auto-merge PRs once they pass all required checks so cannot manually merge into master , I will test making it a "non-required" check to see if it begins to pass again.

[2021-07-13 09:23] alan-cooney commented on #1971
Yes same issue it seems

[2021-07-15 11:23] arxeiss commented on #1947
Not sure I did something wrong, but using glob does not work. I get this error then:
[code]

This is my `.github/graphql-inspector.yaml`:
[code]

[2021-07-15 16:23] vincebrown commented on #1971
Just following up here ,
We made it a "non-required" check and everything seems to work again.

[2021-07-22 00:16] jturkel opened #1972 "Incorrect criticality reason when adding a required input field"
**Describe the bug**

`Change.criticality.reason` is incorrect when adding a required input field to an input object type:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**

`Change.criticality.reason` when adding a required input field to an input object type should be something like:

[code]

**Environment:**

- OS: MacOS 11.4
- `@graphql-inspector/...`: 2.

[2021-07-27 19:10] binary64 commented on #1961
Thanks, I think it helped! But now I get a secondary issue, after running the exact same commands
[code]

[2021-08-05 13:17] #1934 closed

[2021-08-05 13:21] #1972 closed

[2021-08-05 13:22] #1898 closed

[2021-08-05 13:30] #1488 closed

[2021-08-05 13:32] ruudk commented on #1934
Seems to have solved it :D

[2021-08-05 13:42] #1604 closed

[2021-08-05 13:44] #1716 closed

[2021-08-05 14:08] #1962 closed

[2021-08-05 14:09] #1901 closed

[2021-08-05 14:09] #1768 closed

[2021-08-05 14:15] #1825 closed

[2021-08-05 14:15] kamilkisiela commented on #1947
@arxeiss this is related to CLI. Glob is not supported in both GitHub App an Action

[2021-08-05 14:15] #1947 closed

[2021-08-05 14:17] kamilkisiela commented on #1848
There's no API available for GitHub Application to use glob pattern on files. Code search could be an option but it's only available in github.com website, not through any API.

[2021-08-05 14:17] #1848 closed

[2021-08-05 14:46] tobiasdiez opened #1978 "Github action: Allow globs in schema"
**Is your feature request related to a problem? Please describe.**

Often graphql schema's are split in multiple files.

**Describe the solution you'd like**
Allow to specify the schema using a glob as in `schema: main:api/**/*.graphql`.

**Describe alternatives you've considered**

Currently, globs are not supported as the above schema leads to the following error:
[code]

It would be also nice i

[2021-08-05 15:05] StarpTech commented on #1962
@kamilkisiela thank you!

[2021-08-12 09:33] heuels commented on #1848
@kamilkisiela you could use [GitHub Trees](https://docs.github.com/en/rest/reference/git#get-a-tree) for that, with the `recursive` option set. It's available for GitHub Applications.

[2021-08-17 09:49] vladshcherbin opened #1984 "Cli package installation warnings"
**Describe the bug**

When installing `cli` package using `yarn` and command from docs, multiple warnings are shown:

[code]

Warnings:

![image](https://user-images.githubusercontent.com/6711845/129703197-8877b81c-c40d-4c6e-9993-403621f00b09.png)

**To Reproduce**

Install cli package using `yarn`

**Expected behavior**

Installing with no warnings would be nice.

**Environment:**

- OS: mac os 1

[2021-08-17 09:56] vladshcherbin opened #1985 "Unable to introspect esm schema"
**Is your feature request related to a problem? Please describe.**

I have an app which uses ESM imports and has global package.json `type` set to `module`. Everything is working nice, but when trying to introspect schema file, which uses esm imports an error is thrown:

![image](https://user-images.githubusercontent.com/6711845/129704931-3b55bb85-fd86-482c-a260-be80b518acaa.png)

**Describe the s

[2021-08-19 15:26] tsolanki95 opened #1986 "Add support for @aws_lambda directive for aws appsync"
**Is your feature request related to a problem? Please describe.**

AWS recently added a custom auth mode for aws lambda: https://aws.amazon.com/blogs/mobile/appsync-lambda-auth/.
When introspecting schemas with the @aws_lambda directive, we get the following error:
`Error: Unknown directive "@aws_lambda".`

**Describe the solution you'd like**

add @aws_lambda directive here: https://github.com/k

[2021-08-19 15:35] tsolanki95 commented on #1986
I have forked the repo and added the necessary directive: https://github.com/kamilkisiela/graphql-inspector/commit/1708353568d7babbd77fccff48114cb224b4349e

Please let me know if it is okay to proceed.

[2021-08-20 21:30] jord1e opened #1990 "Annotations in GitLab (pull request proposal)"
**Is your feature request related to a problem? Please describe.**

Display annotations in GitLab in addition to standard CI output.

**Describe the solution you'd like**

Since GitLab version 13.2 ([July 2020](https://about.gitlab.com/releases/2020/07/22/gitlab-13-2-released/)) [Code Quality reports](https://docs.gitlab.com/ee/user/project/merge_requests/code_quality.html) have been made availabl

[2021-08-23 22:09] tobiasdiez opened #1991 "False positive operation and fragment duplication due to old version of graphql-tools/load"
**Describe the bug**

Code such as
[code]
produced false errors
[code]

I traced it down to
https://github.com/kamilkisiela/graphql-inspector/blob/b7f6e1cd04a01fbbd4c7b73ca181f522402e0a01/packages/graphql-cli/validate/src/index.ts#L105
where already the loaded documents have a rawSDL that looks similar to the following:
[code]
As you can see, the fragment is repeated twice.
Thus, I guess this is n

[2021-08-25 04:59] renovate[bot] opened #1992 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency @types/jest to v26.0.24
 - [ ] Update dependency @types/js-yaml to v4.0.3
 - [ ] Update dependency @types/yargs to v16.0.4
 - [ ] Update dependency chalk to v4.1.2
 - [ ] Update dependency glo

[2021-09-07 09:51] batmanhit opened #2001 "Unable to find any GraphQL type definitions for the following pointers"
**Describe the bug**

`Unable to find any GraphQL type definitions for the following pointers`

The following errors out when use `wildcard`.
[code]

Although when I copy/paste all the `graphql` queries/mutations into `document.graphql`, it never errors out.
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. First Approach

`client/queries/companies.graphql`
[code]

`client/queries/hote

[2021-09-07 16:35] gsingh56 commented on #2001
I am getting the same error. But for me if I run the validate command in the terminal, it works perfectly fine. But when I add it as a npm script in the package.json, it gives the following error: Error:
      Unable to find any GraphQL type definitions for the following pointers:

          - ./schema/graphql/apps/apps.graphqls

    at prepareResult (/usr/lib/node_modules/@graphql-inspector/cli/n

[2021-09-07 16:56] dominik-henning opened #2002 "diff-command does not pass down --header properly"
**Describe the bug**

Using an url to fetch the schema, when i set headers in the fashion --header 'a: b' the receiving graphql server does not receive those. I debugged for a while and found out that the lines 143 and 153 are to blame.

[code]

the called urlloader and the internally used module for this task ignores the mentioned options and expect in fact an option named headers instead. When i

[2021-09-13 20:38] tobiasdiez commented on #1992
@kamilkisiela if you find the time, could you please update the (important) dependencies. For example, the newest graphql-load version should fix https://github.com/kamilkisiela/graphql-inspector/issues/1991 and probably also https://github.com/kamilkisiela/graphql-inspector/issues/2001. Thanks!

[2021-09-27 14:56] jord1e commented on #1990
Will get started in the next few weeks. It may take some time.

[2021-09-28 15:14] ertrzyiks opened #2016 "Error: Cannot convert object to primitive value in GHA"
**Describe the bug**

When I run github action on my schema it crashes with
![Screenshot 2021-09-28 at 16 50 25](https://user-images.githubusercontent.com/2437969/135114806-c94eec5d-2f7e-4371-9a0f-717109806fa7.png)

Is #1959 available to the github action?

**To Reproduce**

Have a type with default input value like
https://github.com/ertrzyiks/graphql-inspector-issue-2016

Run `kamilkisiela/graph

[2021-09-28 22:03] GeoffreyEmerson opened #2018 "Removing unused scalar causes validation failure"
**Describe the bug**

We have implemented graphql-inspector using `suppressRemovalOfDeprecatedField` in our build process.

Recently we stopped using a particular scalar, but I discovered that removing it from the schema caused the validator to mark it as a breaking change which halts our build process.

Unfortunately, scalars cannot be deprecated. Attempting to deprecate causes the error `GraphQL

[2021-09-29 08:25] kamilkisiela commented on #2018
https://github.com/kamilkisiela/graphql-inspector/commit/5ef747cc1db7affdb3979831ce6a0c3e2663c60a it will be available in next major version

[2021-09-29 09:15] kamilkisiela commented on #2018
released in v3.0.0

[2021-09-29 09:15] #2018 closed

[2021-09-29 09:16] kamilkisiela commented on #2002
released in v3.0.0

[2021-09-29 09:16] #2002 closed

[2021-09-29 09:16] kamilkisiela commented on #2001
released in v3.0.0

[2021-09-29 09:16] #2001 closed

[2021-09-29 09:17] kamilkisiela commented on #1991
released in v3.0.0

[2021-09-29 09:17] #1991 closed

[2021-09-29 09:17] kamilkisiela commented on #1986
released in v3.0.0

[2021-09-29 09:18] #2016 closed

[2021-09-29 09:23] kamilkisiela commented on #2016
Released in v3.0.1

[2021-09-29 10:57] ertrzyiks commented on #2016
@kamilkisiela thank you for the fast reaction ⚡

[2021-09-30 14:13] jord1e commented on #1990
@kamilkisiela would it be okay to add an --output option to the diff command?
[code]
You'd then redirect the output to a file (using a file pipe `>`)

**I would add a `plain` and `gitlab` option**

I really don't have the time to recreate the entire GitHub integration (it isn't even possible to do it simply in GitLab).

It would look like this in .gitlab-ci.yml:
[code]

The Hadolint project uses t

[2021-10-01 14:29] jord1e commented on #1990
Is it ok if i move
`packages/github/src/helpers/location.ts`
to
`packages/core/src/utils/location.ts`
?

[2021-10-01 14:31] kamilkisiela commented on #1990
@jord1e yes :)

[2021-10-04 09:34] paulrostorp opened #2026 "Federation support in github action"
#1661 adds support for apollo federation but I don't believe that extends to the github action (https://graphql-inspector.com/docs/products/action). Would it be possible to extend support for federation to the action ? Open to contribute if given some pointers

[2021-10-06 17:15] gil-s opened #2027 "CLI - diff command: "--rule considerUsage --onUsage check-usage.js" not working"
**Describe the bug**

First of all: Thanks for making this awesome tool!

Running the diff command with the new `onUsage` feature is not working.

It looks like the parameters aren't being passed properly:
`onUsage: args.onUsage,` is missing

**To Reproduce**
Steps to reproduce the behavior:

Run:
`graphql-inspector diff schema.json schema.json  --rule considerUsage --onUsage check-usage.js`

Obse

[2021-10-07 06:31] ertrzyiks commented on #2016
It still happens to my schema, because I have an array of object as a default value and this array is matched with this condition
https://github.com/kamilkisiela/graphql-inspector/blob/master/packages/core/src/utils/string.ts#L82

We do array.toString() but array objects suffer from the same error.

![Screenshot 2021-10-07 at 08 27 56](https://user-images.githubusercontent.com/2437969/136331183-65

[2021-10-07 08:24] #2027 closed, assigned to nobody

[2021-10-07 15:07] jord1e commented on #1990
I can't figure this out:

I need a Source object here:
https://github.com/kamilkisiela/graphql-inspector/pull/2024/files#diff-c7f995eda48a992dab753a0f8236b5cea24c1fa96176e4730706bb6ec90bd355R151

The Source class is this:
[code]

The body needs to be the SDL of the schema. The problem is I don't know how to get it there. In the tests 'in-memory schemas' are used (https://github.com/kamilkisiela/gr

[2021-10-07 20:57] tylercrumpton opened #2031 "`experimental_merge` flag inverted in GitHub App"
**Describe the bug**

Enabling (or removing) the `experimental_merge` option for `diff:` in the GitHub App configuration has the opposite effect to what is expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Set `experimental_merge` to `true`, or remove it, in `graphql-inspector.yaml`
2. Create a branch with no GraphQL schema changes
3. Add a commit to your main branch with GraphQL sc

[2021-10-10 12:24] tobiasdiez commented on #1991
Thanks @kamilkisiela! It is is indeed fixed now. 🚀

[2021-10-11 15:34] #2031 closed

[2021-10-13 03:56] ides15 opened #2034 "Latest Dockerfile not up to date with latest version of graphql-inspector"
**Describe the bug**

I'm trying to run graphql-inspector in my pipeline to find breaking changes between the schema file in my repository's `master` branch and the new schema file. I'm getting this error when running graphql-inspector as a Docker container:

[code]

I looked into the [Dockerfile that is shown in Dockerhub](https://hub.docker.com/r/kamilkisiela/graphql-inspector/dockerfile) and it

[2021-10-29 21:43] jurion opened #2036 "Wrongly formatted documents are still indicated as valid."
**Describe the bug**

When using graphql-inspector validate './*.graphql', syntax errors are ignored and documents are indicated as “valid”.

Valid querry :
[code]
Result : success All documents are valid

Now if I change .graphql like that :

[code]
The result still syays that "success All documents are valid"
Expected result : Some error.

But If instead I add a non existing column, I get the ri

[2021-11-02 17:22] ilansh opened #2040 "Support for amplify directives"
**Is your feature request related to a problem? Please describe.**

Add support for aws amplify directives.

**Describe the solution you'd like**

Same as appsync directives, only for amplify.

[2021-11-04 14:58] Tohaker opened #2041 "Exported schema must be of type GraphQLSchema"
**Describe the bug**

When introspecting with a simple JS file to load the schema, the exported value is always deemed invalid

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

Error:

[code]

Actual exported value (redacted):
[code]

**Expected behavior**

The CLI command to succeed

**Environment:**

- OS: MacOS 12.0.1
- `@graphql-inspector/...`: 3.0.2
- `graphql`: 15.6.1
- Nod

[2021-11-10 17:13] kamilkisiela commented on #2041
here's a reproduction and it seems like it works https://github.com/kamilkisiela/graphql-inspector/pull/2042

[2021-11-11 09:33] Tohaker commented on #2041
I've run the command line tool against your repro and it fails with exactly the same error:
![image](https://user-images.githubusercontent.com/33665681/141274012-6852d162-62e3-49e3-b161-7db094812fb2.png)

[code]

Am I running the command correctly?

[2021-11-12 17:33] lughino commented on #1978
@kamilkisiela wouldn't be enough pointing in the documentation that `depth=1` is not allowed if used with github actions and glob?
It's an acceptable tradeoff imo.

[2021-11-16 20:02] Tohaker commented on #1769
Has there been any work towards this? We'd also like this feature, and would be willing to spend some time proposing a PR

[2021-11-17 05:07] saihaj opened #2043 "Docker tags aren't getting published"
Latest release according to docker hub was year ago https://hub.docker.com/r/kamilkisiela/graphql-inspector/tags which isn't true. Need to investigate why images aren't getting published to docker hub https://github.com/kamilkisiela/graphql-inspector/runs/3892320052?check_suite_focus=true

[2021-11-18 11:20] Tohaker commented on #2041
I've found that, for some reason, the global version of `graphql-inspector` behaves differently to when it's installed via the package.json. Gonna close this, as it works fine as an `npm` script and is likely due to some global dependency issues.

[2021-11-18 11:20] #2041 closed

[2021-11-24 07:57] shashanktiwari-hashedin opened #2048 "Unable to merge Graphql directive aws subscribe"
Issue Description

When running graphql-inspector diff / validate command with keeping schema urls as the app sync url getting error that unable to merge the graphql directives aws subscribe .

Using graphql inspector cli to check these commands.
<img width="997" alt="Screenshot 2021-11-24 at 1 27 47 PM" src="https://user-images.githubusercontent.com/81791882/143197605-77afb284-9f39-4eb5-87a9-46c8

[2021-11-29 18:45] B2o5T opened #2050 "Setup `ESLint` and fix errors"
Extend below configs:

- `eslint:recommended`
- `plugin:@typescript-eslint/recommended`
- `plugin:import/recommended`
- `plugin:import/typescript`
- `prettier`

[2021-11-29 20:53] MichalChomo opened #2051 "--federation and --aws break diff"
**Describe the bug**

When `--federation` or `--aws` flag is used, it renders `diff` command useless.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a test file
[code]
2. Run diff
[code]
3. Run diff with `--federation`
[code]
4. Run diff with `--aws`
[code]

**Expected behavior**

Error is displayed with `--federation` and `--aws` too.

**Environment:**

- OS:
- `@graphql-inspector/.

[2021-12-02 06:54] mmahalwy opened #2052 "Run across repos"
**Is your feature request related to a problem? Please describe.**
We'd like to check the schema from another repo (our frontend) within our backend repo. This is to make sure we aren't committing any changes that would break frontend production.

**Describe the solution you'd like**
The ability to specify the repo either through a `repo: ` option or `schema: repo/branch/filepath`

**Describe alte

[2021-12-02 16:57] sMorm commented on #2051
I am running into the same issue on v3.0.2 as well.

[2021-12-09 15:45] GabrielGil opened #2053 "Error introspecting an ES Module in mjs format"
**Describe the bug**

The CLI is currently not detecting the schema from the code when using `.mjs` extension.

**To Reproduce**

1. Create a schema file in `schema.mjs`:
[code]
2. Run `graphql-inspector introspect graphql/schema.mjs --write schema.graphql`

**Expected behavior**

The inspector should be able to instrospect the  schema, same as if it was in a `schema.js` file.

**Environment:**

-

[2021-12-13 06:06] tvvignesh commented on #1769
@kamilkisiela You can assign this to me. Will have a look.

[2021-12-17 09:59] #1769 closed

[2021-12-17 17:44] jord1e commented on #1990
Still stuck on that point

[2021-12-20 14:22] oliversalzburg opened #2057 "Missing dependency declarations"
**Describe the bug**
When installing `@graphql-inspector/cli`, many complaints are printed, because the dependencies are not properly declared.

**To Reproduce**
Steps to reproduce the behavior:
`yarn add -D @graphql-inspector/cli`

**Expected behavior**
The CLI is installed without complains and will function as advertised after installation.

**Environment:**

- OS: WSL
- `@graphql-inspector/...

[2021-12-20 14:37] oliversalzburg commented on #2057
For people in a similar situation who just want to try out the CLI, here's some of the package extensions required:
[code]

[2021-12-21 06:56] paambaati opened #2058 "Support comparing two local files"
**Is your feature request related to a problem? Please describe.**

We use a code generator to generate our GraphQL schema on the fly, and never commit it into VCS. It is simply passed to AWS AppSync to generate the endpoints and the schema. We also don't serve the `.graphql` file via endpoint, as we don't need introspection – all consumers of our API are internal.

In this case, we are not able t

[2021-12-27 19:58] ericwooley commented on #140
Are we sure this is fixed, we have a schema where a property is switched from required to optional and it's still failing.

![image](https://user-images.githubusercontent.com/1930227/147503363-5fea165f-787f-4997-86bd-83c8f7fc095b.png)

It seems like this is the same issue? Please correct me if i'm wrong

[2022-01-02 12:58] tvvignesh commented on #2040
@kamilkisiela If the intention is to support amplify as well, you can assign this to me.

[2022-01-02 13:28] tvvignesh commented on #2043
There is a PR by a user which suggests the same: https://github.com/kamilkisiela/graphql-inspector/pull/2035 but looks like its WIP

Also, the Dockerfile seems to be generated by https://github.com/kamilkisiela/graphql-inspector/blob/master/scripts/release.js but that currently needs to be manually run and manually pushed (not part of the CI)

**CC:** @kamilkisiela

[2022-01-04 09:29] n1ru4l opened #2060 "Slack notifications via the github action"
**Is your feature request related to a problem? Please describe.**

Currently, it is only possible to add slack notifications using the GitHub Application. This requires writing the webhook URL in plain text into a config file that is committed to the repository. Thus it is impossible to keep the webhook URL a secret.

**Describe the solution you'd like**

It should be possible to send notificatio

[2022-01-04 10:28] dotansimha opened #2061 "Allow to specify base/extra schemas using GitHub Actions"
should be here:
https://github.com/kamilkisiela/graphql-inspector/blob/c9f5b7fb06bacbae724a08a5cf3a54b9cab35b28/packages/action/src/run.ts#L144-L158

[2022-01-05 22:48] ariunbayar commented on #2043
@tvvignesh Is it something to do with docker build failure?

For me it fails on https://github.com/kamilkisiela/graphql-inspector/blob/master/Dockerfile-cli#L10

Here is my result from Dockerfile-cli
[code]
Probably node:12-slim is switch to ubuntu instead of alpine?

[2022-01-07 08:39] larrifax opened #2062 "Github Application not reporting status"
**Describe the bug**

I've been using the Github Application successfully for a long time, but in the recent two days it stopped working. The check stays forever in the `Expected — Waiting for status to be reported` state. I've tried amending commits to re-trigger it, revoking app permissions & re-instating them, but to no avail.

As I understand, Github Applications have to be hosted somewhere. C

[2022-01-11 21:35] chrisbrake opened #2063 "Error: Rule 'safeUnreachable' does not exist!"
**Describe the bug**

On teh current release 3.0.2 I am not able to use the safeUnreachable rule at the command line.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

The rule should be available for use.

**Environment:**

- OS: CentOS
- `@graphql-inspector/...`:
- `graphql`:
- NodeJS:

**Additional context**

[2022-01-19 13:40] klippx opened #2067 "Marking a query field argument as no longer mandatory is considered a breaking change"
Graphql Inspector says that:
`✖ Type for argument transactions on field Query.transactions changed from [TransactionIdentifier!]! to [TransactionIdentifier!]`

**To Reproduce**

Checked in schema:
[code]

New schema:
[code]

**Expected behavior**

No breaking changes detected

**Environment:**

- OS: MacOS 12.1
- `@graphql-inspector/...`: 2.9.0
- `graphql`: 15.8.0
- NodeJS: v12.18.4 (monorepo, don

[2022-01-28 14:47] ivdma opened #2070 "UnhandledPromiseRejection when running `validate`"
**Describe the bug**

I can't get this project (the `validate` command) get to work properly.

Every attempt to (re-)install the needed parts ends up with a correct output, but surrounded by `UnhandledPromiseRejection` errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Followed the Continuous Integration guide (multiple times)

[code]

**Expected behavior**

I expected this librar

[2022-02-04 17:57] davidmwhynot commented on #2062
I am also experiencing this issue a month later.

[2022-02-09 15:32] jracabado opened #2075 "Bad Link to the Hive Announcement on the Github Actions output"
**Describe the bug**

There is a bad link in the output of the GraphQL Inspector Action output. The link is relative and should be absolute.

**To Reproduce**
Steps to reproduce the behavior:

Just check the output of the GraphQL Inspector Action.

**Expected behavior**

The link should lead to the Hive announcement but just points to a bad path relative to Github.

**Environment:**

- OS: Github

[2022-02-15 12:44] sschneider-ihre-pvs opened #2077 "Ensure that there is only one instance of "graphql" in the node_modules"
**Describe the bug**
[code]

**To Reproduce**
`graphql-inspector introspect .\schema.graphql`

**Environment:**

- OS:
- `@graphql-inspector/...`: 3.1.1
- `graphql`:  graphql@16.3.0
- NodeJS: v16.13.2

[2022-02-16 23:28] jeremygiberson opened #2079 "GitHub action fails large schemas when referencing a schema file from the repo"
**While attempting to use the graphql-inspector github action we ran into unexpected behavior. The job failed indicating that it had trouble parsing the schema. This was odd because the cli version of the inspector worked w/out issue.**

![check-schema-before-edited](https://user-images.githubusercontent.com/487411/154547379-fb7a7185-7fe1-4957-a251-e905cfd6b8ce.jpg)

After digging around for quite

[2022-02-22 11:51] #2075 closed

[2022-02-24 05:11] angad777 commented on #1971
Hi guys - adding the `expected-breaking-change` label doesn't seem to make any difference. Is anyone working to resolve this ?

[2022-02-24 18:09] vishnukavach opened #2084 "Trying to install graphql-tools using npm and getting an error - No matching version found for @graphql-tools/utils@^8.6.2."
**Describe the bug**

Trying to install graphql-inspector using npm and getting an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

`npm install @graphql-inspector/cli@latest`

**Expected behavior**
Expected  to install the library

**Environment:**

- OS: Mac
- NodeJS: v12.22.6

**Additional context**
graphql-tools/utils@^8.6.2  released
[https://github.com/ardatan/graphql-tools

[2022-03-03 07:50] kodai3 commented on #2079
@jeremygiberson

I'm facing same issue, did you find any workaround for this ?

[2022-03-03 17:26] jeremygiberson commented on #2079
Yes. I opened a PR to fix it: https://github.com/kamilkisiela/graphql-inspector/pull/2080

you can update the GitHub action and point to a patch branch to fix it.
ie this is what we use in our GitHub workflow:

- uses: formidablelabs/graphql-inspector@2079-loadfile-rest-fallback # patch of kamilkisiela/graphql-inspector

[2022-03-04 03:04] kodai3 commented on #2079
@jeremygiberson

Thank you for the quick response and the PR.

This indeed fixed the issue for me as well !!

[2022-03-09 21:44] connorjs commented on #2063
https://github.com/kamilkisiela/graphql-inspector/commit/5ef747cc1db7affdb3979831ce6a0c3e2663c60a seems to have added the `safeUnreachable` rule. I went through https://github.com/kamilkisiela/graphql-inspector/commit/5a4fd3e1de41127f1527b97b154e45801a398780 which introduced `considerUsage` rule and noticed that it added itself to `packages/core/src/diff/rules/index.ts`.

The [latest version](http

[2022-03-11 19:55] qding-attentivemobile opened #2087 "Github Action In-code Annotations Are on Incorrect Lines in Pull Request"
**Describe the bug**

Hi! We're using GraphQL Inspector's Github Action for our pull requests, and we really like the in-code annotations!

However, we noticed that when the feature branch in the pull request is behind our main branch, and if the main branch has changes to the schema that are not in the feature branch, the in-code annotations will be added to the incorrect lines in the pull reques

[2022-03-15 14:55] briantenazas opened #2088 "Rule suppressRemovalOfDeprecatedField does not seem to work"
**Describe the bug**

Doing some testing of graphql-inspector for CI integration and it seems like the suppressRemovalOfDeprecatedField rule does not work as intended. Removal of a deprecated field still yields a breaking change error.

Here's what I'm seeing:

Test field on master branch:
[code]
When I remove this field locally and try to run the diff:
[code]

**To Reproduce**
Steps to reproduce

[2022-03-17 01:17] B2o5T commented on #2088
Hi @briantenazas, I couldn't reproduce, my output

[code]

[2022-03-17 01:27] B2o5T commented on #2088
I think deprecation of input fields is currently not supported by graphql spec.
I remember that in case of using deprecated field on input field this field will not appear in introspection result?

@dotansimha @kamilkisiela Should we change `CriticalityLevel` to `Dangerous` for input fields as we do for fields and for enum values? If yes I will make PR

[2022-03-22 19:54] mybrainishuge opened #2091 "approve-label is ignored with action v3.1.1"
**Describe the bug**
[`approve-label`](https://www.graphql-inspector.com/docs/products/action#approve-label) is ignored with GitHub Action `kamilkisiela/graphql-inspector@v3.1.1` whether using the default `approved-breaking-change` or specifying a custom label.

**To Reproduce**
Steps to reproduce the behavior:

1. Add action to GitHub workflow:
[code]
2. Commit breaking change and open PR
3. Add

[2022-03-24 06:06] prescottprue commented on #1978
If all code from branches is loaded, then a glob can be passed through to a script like so:

[code]
Then in your workflow:

[code]

<details>
</details>

[2022-03-24 06:18] prescottprue commented on #1978
If your are using`endpoint` as a base (assuming you don't want to git track a combined schema file) then you can use merge and load files in a script like so:

**bin/combine-graphql-files.js**
[code]

Then in call it right before in your workflow and reference the file in graphql-inspector step:

[code]

<details>
<summary>
Or if you prefer inline instead of referencing a file
</summary>

[code]
<

[2022-03-24 12:53] tobiasdiez commented on #1978
Thanks for the suggestion, but my usecase is exactly merging many schema files that are in the same repo.

[2022-03-24 15:06] jayzes commented on #1978
If it helps, here's a sample config from one of our repos that merges multiple schema files together across different branches:

[code]
            ${{steps.compare.outputs.stdout}}
[code]

It's currently using https://github.com/xuorig/graphql-schema_comparator but could easily be modified to use `graphql-inspector` instead. In our repo structure, schema files live in an `api` folder under the ro

[2022-03-25 20:46] leonid-sviderskii-mtl commented on #1971
The possible (but not ideal) workaround here could be in the workflow file itself:
[code]

That will trigger the workflow every time you label/unlabel a PR and will only run the check if you don't have the `approved-breaking-change` label and in my case, only if the branch is master. If you solely need the `contains` part, don't forget to add `$ {{ }}` for the single line expression

[2022-03-27 14:22] dotansimha commented on #2088
I think it does make sense to mark it as dangerous, but let's wait for @kamilkisiela 's answer, he's the expert.
I think you can put `@deprecated` on `INPUT_FIELD` based on the definition of the directive (ref: https://github.com/graphql/graphql-js/blob/47bd8c8897c72d3efc17ecb1599a95cee6bac5e8/src/utilities/__tests__/printSchema-test.ts#L645-L646 )
and it is exposed as part of the `graphql-js` API

[2022-04-04 21:43] pelletier197 opened #2099 "Wrong argument equality"
**Describe the bug**
I believe this is pretty self explanatory from the error message I got in the CLI:
[code]

The core module identifies the argument default value as changed even it its the same, when the argument is an array of object.

[2022-04-04 22:13] pelletier197 commented on #2099
I will open a PR to fix this since it is simple.

[2022-04-06 17:57] cramhead opened #2101 "Github job hangs"
**Describe the bug**
There was no schema change in the PR and graphql-inspect shows as complete this view
![image](https://user-images.githubusercontent.com/386035/162036276-70a2c345-473b-40ed-8b4c-37782743f874.png)

Unfortunately, the process doesn't complete in this view
![image](https://user-images.githubusercontent.com/386035/162035971-8cdd4d04-83b8-4f5b-8ae0-125a6c87c3c6.png)

The error messa

[2022-04-07 11:11] martinglova opened #2102 "Remove deprecated input field"
**Describe the bug**

Not being able to remove deprecated input field. `deprecated` reason is ignored for `input` type.

**To Reproduce**
When I create input as:

[code]

I'm not able to remove deprecated `Foo.c` from the input - it's breaking change even when using `suppressRemovalOfDeprecatedField` rule.

**Expected behavior**

I should be able to remove deprecated input field when using `suppre

[2022-04-10 15:02] ramonsnir opened #2105 "Regression: "Failed to find a configuration""
**Describe the bug**

We're using Inspector as a GitHub Action. Recently (last week), it stopped working. The action itself runs, but the check is failed and the output is:

[code]

**To Reproduce**

Our action:
[code]

**Expected behavior**

Configuration (i.e. schema file?) to be found and annotations to be added. Most of our PRs don't even change the schema, so I guess just a green ✅ and no ann

[2022-04-15 04:54] arcticmatt opened #2107 "False positive when changing required input field to optional"
**Describe the bug**

Original

[code]

New
[code]

Output
[code]

**To Reproduce**
See above

**Expected behavior**

I don't expect a warning, because this change is backwards compat
**Environment:**
[code]

[2022-04-15 04:54] arcticmatt commented on #140
Also still running into this https://github.com/kamilkisiela/graphql-inspector/issues/2107

[2022-04-19 19:01] Josiassejod1 opened #2108 "Exclude Path Feature Request"
**Is your feature request related to a problem? Please describe.**

Tried to use glob matching to exclude a path for graphql-inspection, but had a hard time

**Describe the solution you'd like**

This would be helpful if there was a flag to `-- ignorePath` which would help make access easier

**Describe alternatives you've considered**

**Additional context**

The schema definitions are being pick

[2022-04-21 08:19] spawnia commented on #2043
https://github.com/kamilkisiela/graphql-inspector/pull/2035 should fix this, but it cannot progress without input from @kamilkisiela.

In the meantime, feel free to use https://github.com/mll-lab/docker-graphql-inspector / https://hub.docker.com/repository/docker/mlllab/graphql-inspector

[2022-04-21 13:58] #2105 closed

[2022-04-21 16:22] ppease commented on #2102
Just to pile on with this we also have a need for this feature.  In particular we care about deprecated fields being reported on input types in general.  I think this was something added fairly recently to the graphQL spec. I think PR 2103 would solve that problem too since it is updating the utility function that identifies deprecated fields.

[2022-04-23 20:48] namoscato commented on #2058
We have a similar setup, using [GraphQL Nexus](https://nexusjs.org/) to generate a GraphQL schema, which is not committed to version control. We _do_ enable introspection, so retrieving the "before" schema by endpoint shouldn't be a problem, but our "after" schema needs to be retrieved via the local workspace.

@kamilkisiela, is there a reason why [`workspace` is always cleared out](https://github

[2022-05-02 14:02] martinglova commented on #2102
@kamilkisiela could you please take a look? It's a very similar issue to [Removal of deprecated enum values](https://github.com/kamilkisiela/graphql-inspector/pull/1829).

[2022-05-24 07:12] Sonamp opened #2112 "extend types from apollo federation are not supported"
**Describe the bug**
In federation a type in a service schema can extend type from another service schema.

**To Reproduce**
For example serviceA has a type Dummy defined and serviceB is extending this type

schema1.graphql --
[code]

schema2.graphql --
[code]

**Expected behavior**
on running `graphql-inspector diff schema1.graphqls schema2.graphqls --federation` the diff should be returned but r

[2022-05-24 17:10] Sonamp commented on #2051
Try `graphql-inspector diff test.graphql test.graphql --federation`

[2022-05-27 13:43] amandapouget commented on #1056
Couldn't be more specific than "the answer is in this 25k line PR".

LOL.

[2022-06-06 09:28] LunaticMuch opened #2117 "Implement logging to file for the CLI"
The CLI tool is great but it logs everything on the stdin only. While the stdin can be redirected to a file, the CLI should provide an argument like `--log` to dump the result into a file. This might be also taken to the extreme of providing text and html log.

I am happy to collaborate on making this, if somebody else sees a value.

- [ ] Log into text file from cli argument
- [ ] Log into html f

[2022-06-07 00:48] carldunham opened #2119 "Addition of non-nullable argument with a default flagged as a breaking change"
**Describe the bug**

The [current spec](https://spec.graphql.org/draft/#sec-Validation.Type-system-evolution) talks about breaking changes:

However, `graphql-inspector` will flag added non-nullable field arguments with a default as a "breaking change", even though there is no previously valid query that would become invalid given that change.

Some further areas of the spec that are relevant:
-

[2022-06-10 12:32] Meemaw opened #2120 "Allow bold old & new schema to be a file path"
**Describe the bug**
Currently it is possible to define `endpoint` & `schema` parameter to the github action. This combo however doesn't support supplying both from the file system.

Due to authentication reasons, we can't simply fetch our "production" schema as we would have to pass in additional headers (which this action does not support as well).

[2022-06-10 17:22] cramhead opened #2121 "splice is not a function"
**Describe the bug**

Install went smoothly, but when comparing two schemas hosted online fails with
[code]

**To Reproduce**
Install with npm or yarn
![image](https://user-images.githubusercontent.com/386035/173117739-a805c4b6-015e-4756-89b1-658fa1299174.png)
Run the diff with two urls
![image](https://user-images.githubusercontent.com/386035/173117890-5387b1cf-c793-437a-8947-85ad3890d12f.png)

A

[2022-06-15 20:00] asimkhan73301 commented on #2121
I received the same error on version `3.1.2`. Downgrading the `@graphql-inspector/cli` to `2.9.0`  worked for me.

[code]

[2022-06-27 14:01] kamilkisiela commented on #2120
Not sure if I follow, but when `schema` option is used:

[code]

it gets the `schema.graphql` from the current branch and fetches `schema.graphql` from the `master` branch.

[2022-06-29 17:59] CelsoSantos opened #2123 "Github Action fails with "Invalid or incomplete introspection result.""
**Describe the bug**

Whenever trying to use the Github Action, the jobs will fail with the following message, even though the introspection file DOES follow the rule:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Run/Apply the configuration demonstrated on the `Environment` section and the error should be present

**Expected behavior**

Expected the process to either do nothing but e

[2022-07-03 21:22] #2099 closed

[2022-07-04 09:11] dotansimha opened #2124 "Improve website and mention Hive"

[2022-07-06 13:53] SudharakaP opened #2128 "GitHub Action Fails with `Cannot convert undefined or null to object`"
**Describe the bug**

It seems that the latest version of the `graphql-inspector` fails when comparing schemas with the error; `Cannot convert undefined or null to object`

**To Reproduce**

On our repo we use the `graphql-inspector` through the GitHub Action, and recent runs all seems to fail. Examples,

https://github.com/opencollective/opencollective-api/runs/7215036107?check_suite_focus=true

[2022-07-06 14:47] kamilkisiela commented on #2128
#2129

[2022-07-06 14:49] #2128 closed

[2022-07-06 15:11] #2102 closed

[2022-07-14 12:57] kamilkisiela commented on #2063
[v3.1.3](https://github.com/kamilkisiela/graphql-inspector/blob/master/CHANGELOG.md#v313)

[2022-07-14 12:58] kamilkisiela commented on #2079
Released recently

[2022-07-14 12:58] #2079 closed

[2022-07-14 13:26] #2119 closed

[2022-07-15 12:06] kamilkisiela commented on #2121
https://github.com/kamilkisiela/graphql-inspector-2121

latest version works

[2022-07-15 12:06] #2121 closed

[2022-07-15 12:10] kamilkisiela commented on #2077
That's problem with graphql, not graphql-inspector

[2022-07-15 12:10] #2077 closed

[2022-07-15 13:43] kamilkisiela commented on #2108
There is `!` negative operator in glob.

[2022-07-15 13:44] kamilkisiela commented on #2108
See #2138

[2022-07-15 14:26] kamilkisiela commented on #2043
#2139

[2022-07-15 14:26] kamilkisiela commented on #2034
#2139

[2022-07-15 14:26] #2034 closed

[2022-07-15 14:38] kamilkisiela commented on #12
GraphQL Inspector with UI and more advanced == [GraphQL Hive](https://graphql-hive.com)

[2022-07-15 14:38] #12 closed

[2022-07-15 14:40] kamilkisiela commented on #444
GraphQL Inspector [allows to do it](https://github.com/kamilkisiela/graphql-inspector/blob/dc89be0131c2b7c0fd1ee2b9fccb311a43e6402b/packages/core/src/diff/rules/consider-usage.ts) and its implemented in [GraphQL Hive](https://graphql-hive.com) with nice UI :)

[2022-07-15 14:40] #444 closed

[2022-07-15 23:11] tylerdavis opened #2141 "Docker image throwing unknown module exception"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-07-18 07:44] spawnia commented on #2141
A single command to reproduce the same error is:

[code]

I already described this problem in https://github.com/kamilkisiela/graphql-inspector/pull/2035. The changes from there were merged in https://github.com/kamilkisiela/graphql-inspector/pull/2139 - unfortunately without fixing [the outstanding issue with it](https://github.com/kamilkisiela/graphql-inspector/pull/2035#discussion_r728762637).

[2022-07-19 00:56] cramhead commented on #2121
When I install this issue still exists. Does anything need to be pushed to npmjs?

[2022-07-19 03:47] keshav-1835i commented on #2141
Started breaking in our CI pipeline too :(

[2022-07-19 06:41] HSTsou commented on #2141
Can provide the older version (v3.2.0) to docker hub to skip the failure from the v3.3.0 ?

[2022-07-19 08:44] ayumitamai97 commented on #2141
Yet unofficial, I pushed a modified Docker image based on v3.2.0.

Docker Hub: https://hub.docker.com/repository/docker/ayumitamai97/graphql-inspector
Changes: https://github.com/ayumitamai97/graphql-inspector/releases/tag/v3.2.0-modified

Example:

[code]

[2022-07-19 21:17] kemsar commented on #2141
Subscribing since I've run into the same issue.

[2022-07-20 08:03] lillheaton commented on #2121
Issue starts with version `3.1.1` using `3.1.0` works. However if using `yarn` instead of `npm` it works with the latest release... 🤷

[2022-07-20 17:55] benasher44 opened #2142 "graphql-inspector cli can no longer load github-loader"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-07-20 22:05] benasher44 commented on #2142
Hm never mind. I can't reproduce this anymore.

[2022-07-20 22:05] #2142 closed

[2022-07-23 00:40] benrowe-chuffed commented on #2121
I am having this issue too.

@kamilkisiela I tried the sample repo you provided and this still exhibits the same problem

[code]
~/Code/graphql-inspector-2121 (main*) » npm run test

error TypeError: this.splice is not a function
...
[code]
~/Code/graphql-inspector-2121 (main*) » npm ls cross-undici-fetch
repro-2121@ /Users/ben/Code/graphql-inspector-2121
└─┬ @graphql-inspector/cli@3.3.0
  └─┬ @gr

[2022-07-23 19:37] ayumitamai97 commented on #2141
@spawnia @kamilkisiela Hi. I fixed this problem in this PR https://github.com/kamilkisiela/graphql-inspector/pull/2144. Could you please review it? Thanks :)

[2022-07-26 21:25] bobhat104 opened #2145 "TypeError: this.splice is not a function"
Attempting to run `graphql-inspector serve SCHEMA` version 3.1.1 or above results in an error message:

`
success GraphQL API:    http://localhost:4000
C:\Users\bobhat\AppData\Roaming\npm\node_modules\@graphql-inspector\cli\node_modules\cross-undici-fetch\dist\patch-headers-list.js:44
          this.splice(index, 0, normalizedName, normalizedValue)
               ^

TypeError: this.splice is not a

[2022-08-03 10:17] filipncs commented on #2145
I can't reproduce this, but it looks like an issue with a part of a polyfill for the `fetch` api.
What version of node are you on, and would it be possible for you to try to reproduce with a more recent version?

[2022-08-03 11:10] filipncs commented on #2067
This appears to now be fixed, could you try again?

Your schemas are not valid in isolation, but the following similar schemas now give the expected behaviour (on 3.3.0).

Old:
[code]

New:
[code]

Result:
[code]

[2022-08-04 15:44] CelsoSantos commented on #2123
no updates or possible solutions to check?

[2022-08-04 18:31] mattoni commented on #2120
Here's my use case:

We want to jam on our schema in a separate repository, and the repo for the graphql server we submodule that external repository with the SDL. I'd like to do a comparison of the generated schema vs the one we agreed on, and block merging if it doesn't match. Is this possible currently?

If the github action supports a submodule and changing the branch of the submodule, then pr

[2022-08-04 19:45] Jacob-Bordelon opened #2147 "Github App > Diff breaks when referencing .json file"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-08-10 13:04] mignotju commented on #2145
Hello,
I am having the same issue using `graphql-inspector validate` command, with node version: v16.16.0 (LTS)
I don't have the issue with node v18.7.0.
Would it be possible to have it working for node LTS version ?
I can provide more information if needed.

Thanks a lot!

[2022-08-11 16:06] cramhead commented on #2062
We started getting this on Aug 10, 2022, immediately after the last update. I suspect there is a problem with the config. My config is basically the same as https://www.graphql-inspector.com/docs/recipes/environments just with the variable plugged in.
Is there a way to run manually run graphql-inspector from the cli using the config to attempt to find where it's failing?

[2022-08-16 15:40] kamilkisiela opened #2156 "Github App is not working"
[code]

[2022-08-22 16:56] justindoherty commented on #2145
It seems to me it has to do with the pinned `2.0.0` version of `@graphql-yoga/node` as part of the serve command which is requiring the old version of `cross-undici-fetch` instead of the newer `@whatwg-node/fetch` package found in the newer `@graphql-yoga/node` package. Any reason it's pinned at `2.0.0` specifically?

[2022-08-23 08:07] samchungy opened #2159 "Surface deprecation fields in Error Objects for Validate"
**Is your feature request related to a problem? Please describe.**

Firstly big thanks for your repo :)

Secondly,

I would like to populate `${parentType.name}.${fieldDef.name}` into the GraphQL Extensions so I can retrieve it via `error.extensions` without needing to regex on the string.

https://github.com/kamilkisiela/graphql-inspector/blob/ca8e7cd3babde8aa337b398de686f21000ee7e2f/packages/cor

[2022-08-23 15:13] #2141 closed

[2022-08-23 15:53] sebj commented on #2123
Seeing the same issue with a similar schema file format here, comparing local JSON schema against an endpoint.

[2022-08-24 08:10] doriandekoning commented on #2141
@kamilkisiela  Would it be possible to tag a new version so we can use the tagged image? That would be amazing 🙏

[2022-08-24 09:14] spawnia commented on #2141
The fixed version is currently only available under the tag `master`:

![image](https://user-images.githubusercontent.com/12158000/186380028-9618f6d0-17f8-4636-b9d1-ac781cbb1f9d.png)

[2022-08-24 18:34] CelsoSantos commented on #2123
- The cli works fine, either on GHA or locally.
- The Action fails with this message
- The Docker container on v3.3.0 is failling with some typescript error (it's possible I'm using it wrong)
- The GH Application seems limited to one schema..

Can we please sort this out? How can I help?

[2022-08-25 16:55] CelsoSantos commented on #2062
I installed it yesterday and I don't even see it trying to start, let alone give me an error :(

[2022-08-25 17:04] cramhead commented on #2062
Did you install it as an action or application? I installed it as an application and was not able to get any information on why things were failing. I did see a comment in the docs to ensure that the schema path has quotes around it, https://www.graphql-inspector.com/docs/api/documents. This example, https://www.graphql-inspector.com/docs/products/github#full-configuration doesn't have quotes, so

[2022-08-25 17:04] CelsoSantos commented on #2145
Also seeing this error when running the Docker image

[2022-08-29 09:49] CelsoSantos commented on #2062
@cramhead I installed it as an application (I did try the action first, but that seems to fail as well) but my schema is in `.json` format, which I don't see mentioned in the docs, which might be the reason why it fails to even _try_ to start

[2022-08-30 10:47] foolishell opened #2161 "Ignore TypeDescriptionAdded & TypeDescriptionRemoved"
**Is your feature request related to a problem? Please describe.**
I'm using `graphql-inspector` as CLI.
I found a problem that Description of GraphQL Type is not ignored when executing command below.
[code]
This happens only for Types, not for Fields.

Also in your code, I found TODO:
https://github.com/kamilkisiela/graphql-inspector/blob/master/packages/core/src/diff/changes/change.ts#L58-L61

*

[2022-08-30 11:26] fredicious opened #2163 "Found broken `/docs/installation#cli` link. Please fix!"

[2022-09-02 16:30] gmiklich commented on #2145
@justindoherty came to the same conclusion that I did.  I currently have to choose between an insecure version of undici or broken functionality because of the pinned `yoga-node` version.  Can we update this please?

[2022-09-09 10:33] CelsoSantos commented on #2062
Isn't this configuration supposed to work?

I have a `graphql-inspector.yaml` at my repos `.github` dir according to the [docs](https://www.the-guild.dev/graphql/inspector/docs/api/documents). Full path would be `.github/graphql-inspector.yaml`:

[code]

I already have this config on my master branch and on the PR which I'm attempting to execute the GH App but absolutely nothing happens...

[2022-09-10 15:34] rdp77 opened #2171 "405 When use Github Actions"
[code]

[code]

https://www.the-guild.dev/graphql/inspector/docs/products/action#endpoint

[2022-09-10 15:45] rdp77 opened #2172 "Github Actions Not Work"
I use [Lighthouse](https://github.com/nuwave/lighthouse)

[code]

[code]

It's weird is there something wrong with my configuration, the inspector doesn't give any feedback except
Conclusion: success
Updating check: 8283028754

https://www.the-guild.dev/graphql/inspector/docs/products/action#usage

[2022-09-14 10:47] belgattitude opened #2175 "[3.4.0] ESM, err_module_not_found: graphql/language/parser"
### Issue workflow progress

_Progress of the issue based on the
[Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [x] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-18 12:32] #2163 closed

[2022-09-18 12:43] TuvalSimha commented on #2163
Hi @fredicious
Thank you for the bug report, it helps us a lot!

We did some fixes and now it should work, you can find the changes we did here: https://github.com/kamilkisiela/graphql-inspector/pull/2176

Again, thank you! :)

[2022-09-19 20:25] dhay opened #2178 "CI support missing federation support"
### Issue workflow progress

_Progress of the issue based on the
[Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-21 22:50] dhay opened #2179 "ignoreDescriptionChanges rule missing TYPE_DESCRIPTION_ADDED"
### Issue workflow progress

_Progress of the issue based on the
[Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-22 02:36] ldiqual commented on #2175
I'm also experiencing this in an ESM context

[2022-09-22 13:56] pstarritt-evooq commented on #2123
I am also experiencing this issue. Any update would be greatly appreciated

[code]

[code]

Query master:path/schema.json
Query refs/pull/8630/merge:path/schema.json from
Got both sources
Error: Invalid or incomplete introspection result. Ensure that you are passing "data" property of introspection response and no "errors" was returned alongside: { data: { __schema: [Object] } }.

[2022-09-23 19:26] drewski371 opened #2181 "Make annotation level configurable"
**Is your feature request related to a problem? Please describe.**

Info-level annotations are sometimes not useful and make a pull request harder to read for a reviewer. The "files changed" tab on a pull request sufficiently annotates changes made to a file.

**Describe the solution you'd like**

I would like to be able to configure the GitHub Action annotation level i.e. error, warning, info, et

[2022-09-28 08:06] sschneider-ihre-pvs opened #2182 "🐛 Validation between docs and running server fails"
**Describe the bug**
[code]

**To Reproduce** Steps to reproduce the behavior:

1. graphql-inspector validate './<some_path>/**/*.graphql' 'http://localhost:7003/graphql'

**Expected behavior**
Either a meaningful error message or a working process.

**Environment:**

- OS: Windows 10 10.0.19043
- `@graphql-inspector/cli`: @graphql-inspector/cli: 3.4.0
- `graphql` : 16.6.0
- NodeJS: 16.14.2

[2022-09-30 08:54] velias opened #2183 "coverage: provide statistics about coverage"
Schema coverage command should provide statistics about the coverage:
* num of types in schema
* num of types covered
* num of types fully covered
* num of fields in schema (including arguments)
* num of fields covered (including arguments)
* percentage of types covered
* percentage of types fully covered
* percentage of fields covered

Statistics should be part of output JSON, and percentages sho

[2022-10-03 12:16] arxeiss commented on #2062
Any updates on this? App is not working for us at all. We disabled and enabled app again.
When I create PR, there is nothing happening at all. Only actions and apps reported are the ones from workflow folders (our own pipelines) or Codecov.

![image](https://user-images.githubusercontent.com/5103109/193574342-971e6c65-3405-43b3-be83-7142306f8763.png)

This is file we have in `.github/graphql-inspe

[2022-10-03 15:26] cramhead commented on #2062
No movement that I'm aware of. I'm sure @kamilkisiela must be busy on other things

[2022-10-04 15:43] DimaJedi commented on #2175
wen

[2022-10-05 22:55] brianlenz opened #2188 "Support AWS Types in GitHub Action"
**Is your feature request related to a problem? Please describe.**

The [GitHub Action](https://github.com/marketplace/actions/graphql-inspector) (`kamilkisiela/graphql-inspector@master`) should support the `--aws` flag that is supported with the CLI.

**Describe the solution you'd like**

A configuration option for the GitHub Action to support the AWS types.

**Describe alternatives you've consid

[2022-10-06 06:49] LastDragon-ru opened #2189 "diff: Unable to find any GraphQL type definitions for the following pointers: file-without-graphql-extension"
### Issue workflow progress

_Progress of the issue based on the
[Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-10-11 12:22] mat813 opened #2191 "Adding git to the Docker image"
**Is your feature request related to a problem? Please describe.**

I would like to use the docker image in my Gitlab CI pipeline, like, adding a job that uses the docker image and runs:

[code]

But for this to work, the docker image needs git.

**Describe the solution you'd like**

Adding this to the second stage of the docker file would be enough:

[code]

It would add about 20MB to the generat

[2022-10-17 03:13] jameslnewell opened #2196 "Github Action Deprecation notices"
### Issue workflow progress

_Progress of the issue based on the
[Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-11-01 18:50] ZejunNinaWang opened #2199 "Diff should detect deprecated directive on input field and field argument"
**Is your feature request related to a problem? Please describe.**

The GraphQL Spec recently allowed the deprecated directive to be added on input field and field argument ([pr link](https://github.com/graphql/graphql-spec/pull/805)). However, the diff API in latest graphql-inspector does not detect the deprecated directive added on input field and field argument.

**Describe the solution you'd l

[2022-11-03 17:05] lughino commented on #1978
@kamilkisiela is there any plan for making this feature available?
All the current workaround proposed don't really play well with the github action features.
Combining manually the schema before would break the annotations.
Also, the main GraphQL I've seen so far is breaking schemas in multiple files.
All the Guild tooling support this scenario but the Github action. It's a shame as we are not ab

[2022-11-04 18:38] FerasAlazzeh commented on #2001
I am still seeing this bug on latest version

[2022-11-04 18:42] FerasAlazzeh opened #2201 "Unable to find any GraphQL type definitions for the following pointers"
Describe the bug

This is the same issue described here: https://github.com/kamilkisiela/graphql-inspector/issues/2001

which was closed however seems to still be broken on latest versions of inspector

Unable to find any GraphQL type definitions for the following pointers

The following errors out when use wildcard.

[code]
Although when I copy/paste all the graphql queries/mutations into documen

[2022-11-04 20:31] FerasAlazzeh commented on #36
I am seeing the same issue still how did you get around this @danielkcz ?

[2022-11-04 20:33] FerasAlazzeh commented on #2201
It seems to work if I do the following

`graphql-inspector validate ./client/**/*.graphql  ./schema.graphql`

rather than

`graphql-inspector validate *.graphql  ./schema/schema.graphql`

If this is intended we should include that in the docs :)

[2022-11-07 13:57] NikitaSmithTheOne commented on #2196
I have the same situation. [Github's changelog](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/) may be helpful.

[2022-11-10 14:35] TuvalSimha commented on #2201
Hey @FerasAlazzeh,
Thank you for the bug report!

I was trying to reproduce your issue and I have a solution for you.
When you did this -> `graphql-inspector validate ./client/**/*.graphql  ./schema.graphql` it might result be -> `graphql-inspector validate ./client/foo/1.graphql ./client/foo/2.graphql ./client/bar/1.graphql  ./schema.graphql`.

 So, try to add `"` before the path of the documents

[2022-11-14 15:30] #2201 closed